//- catbearsNav.jade
link(rel='stylesheet', type='text/css', href='../css/catbearsNav.css')

.catbearsNav
	.tab.noMarkup.tab__main
		img(src="../img/icons/logo-maker-bee.png" , alt="The Catbears Logo")
	.tab.noMarkup.tab__craft.tab__selected
		img(src="../img/icons/icon-crafts.png" , alt="The Catbears Crafts")