#footer
  include ../include/share-icons.jade	
  a.dark-link(href="../") בית
  a.dark-link(href="../about--israel.html") עלינו
  a.dark-link(href="mailto:catbearsteam@gmail.com?subject=Hey There Catbears!&body=Dear Catbears,", target='_top') צור קשר
  p.copyright The Catbears © 2017

  
  
  //- include ../include/test.jade	
