#footer
  include ../include/share-icons.jade	
  a(href="../index.html") Home
  a(href="../about.html") About
  a(href="mailto:catbearsapps@gmail.com?subject=Hey There Catbears! :( &body=Dear Catbears,", target='_top') Contact Us
  p.copyright The Catbears © 2016

  
  
  //- include ../include/test.jade	

//- #footer
//-   a(href='index.html')
//-     .footer-note
//-       .footer-note-container
//-         .logo-footer
//-           img(src='img/footer-logo.png', alt='logo-footer', style='width:173px;height:115px;')
//-         p.copyright 2016 © All rights reserved

