#footer
  include ../include/share-icons.jade	
  a.dark-link(href="../") Home
  a.dark-link(href="../about.html") About
  a.dark-link(href="mailto:catbearsapps@gmail.com?subject=Hey There Catbears!&body=Dear Catbears,", target='_top') Contact Us
  p.copyright The Catbears © 2016

  
  
  //- include ../include/test.jade	
