#footer
  include ../include/share-icons.jade	
  p.copyright The Catbears © 2016



//- #footer
//-   a(href='index.html')
//-     .footer-note
//-       .footer-note-container
//-         .logo-footer
//-           img(src='img/footer-logo.png', alt='logo-footer', style='width:173px;height:115px;')
//-         p.copyright 2016 © All rights reserved

