
.gallery-container
  ul#gallery
    li.gallery__item.gallery__item--1 
    li.gallery__item.gallery__item--2 
    li.gallery__item.gallery__item--3 
    li.gallery__item.gallery__item--4 
    li.gallery__item.gallery__item--5 
    //- li.gallery__item.gallery__item--1 0+
  .gallery-controller
    .gallery__button.gallery__button--left
    .gallery__button.gallery__button--right
  //- p.counter counter
