//- link(rel='stylesheet', type='text/css', href='../css/gallery/gallery.css')

//- <meta name="viewport" content="width=device-width, initial-scale=1">


link(rel='stylesheet', type='text/css', href='../css/gallery-tamplate.css')
script(type='text/javascript', src='../scripts/gallery-controller.js')
script(type='text/javascript', src='../bower_components/jquery/dist/jquery.js')
script(type='text/javascript', src='../bower_components/hammerjs/hammer.js')

.gallery-container
      .title
      ul#gallery
        li.gallery__item.gallery__item--1 0
        li.gallery__item.gallery__item--2 1
        li.gallery__item.gallery__item--3 2
        li.gallery__item.gallery__item--4 3
        li.gallery__item.gallery__item--5 4
        li.gallery__item.gallery__item--1 0+
      .gallery-controller
        .gallery__button.gallery__button--left
        .gallery__button.gallery__button--right
      p.counter counter
