// PROMO: HELP US GROW

.promo-item
  .overlay-container 
    .overlay.overlay__blinking-catbear
    .overlay.overlay__blinking-snail
  .subscribe-wrapper
    h2 We're Working on New Projects
    //- h2 Spam Free Notifications!
    p TELL ME WHEN THEY'RE READY
    .subscribe-form
        include ../include/mailchimp-form.jade
    p.micro-text.foot-note * We will only ever email you about Catbears, and we promise to do it as little as possilbe, Cross our hears, Spam’s the worst.
// END OF PROMO

