// PROMO: HELP US GROW

.promo-item
  .overlay-container 
    .overlay.overlay__blinking-catbear
    .overlay.overlay__blinking-snail
  .subscribe-wrapper
    h2.color--skyblue Join The Catbears
    //- h2 Spam Free Notifications!
    p Get our updates and never miss our newest activities.
    .subscribe-form
        include ../include/mailchimp-form.jade
// END OF PROMO

