//lightbox_free-download.jade

link(rel='stylesheet', type='text/css', href='../css/lightbox_free-download.css')
script(type='text/javascript', src='../scripts/lightbox-controller.js')

.lightbox
  .lightbox-container
    .close-x(onmousedown='lightboxClose()') +
    h1.lightbox--title Free PDF!
    p.lightbox--p Thanks for being one of our first users, Here's the PDF you wanted free of charge :)
    .lightbox--cta.btn.btn__primary(onmousedown='lightboxClose()') Yey Thanks!