//- lightbox_subscribe.jade

link(rel='stylesheet', type='text/css', href='../css/lightbox_subscribe.css')
script(type='text/javascript', src='../scripts/lightbox-controller_subscribe.js')

.lightbox.lightbox__subscribe
  .lightbox-container
    .close-x(onmousedown='lightboxClose("subscribe")') +
    .text-container
      .logo-orange-sticker.rainbow-animation
      p.lightbox--p Get our updates and never miss our newest activities.  
      .subscribe-form
        include ../include/mailchimp-form.jade
        //- p.lightbox--mini-text Spam free ・ Monthly email・ Cancel anytime

.lightbox.lightbox__subscribe--thankyou
  .lightbox-container
    .close-x(onmousedown='lightboxClose("subscribe--thankyou")') +
    .text-container
      .heart
      .lightbox--p 
         h1 Thank You For Subscribing! 
         br
         p We will send you updates once new activities are ready!

