//meta tags
// The Catbears is a great place to find kids activities and inspiration. Download a PDF filled with step-by-step crafts tips and start creating something fun and special.


<meta name="description" content="The Catbears is a great place to find fun activities with Printable PDFs filled with step-by-step craft tips and DIY projects for kids and parents.">


<meta name="robots" content="noodp">
<meta property="og:type" content="website">
<meta property="og:title" content="The Catbears - Kids Activities">
<meta property="og:description" content="Fun Learning Activities for Kids">
<meta property="og:url" content="http://catbears.com/">
<meta property="og:site_name" content="The Catbears - Kids Activities">
<meta property="og:image" content="http://catbears/img/share-img/thecatbears-logo.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="The Catbears is a great place to find fun activities with Printable PDFs filled with step-by-step craft tips and DIY projects for kids and parents.">
<meta name="twitter:title" content="The Catbears - Kids Activities, Tips &amp; Tricks">
<meta name="twitter:site" content="@thecatbears">
<meta name="twitter:image" content="http://catbears/img/share-img/thecatbears-logo.png">

<link rel="canonical" href="http://catbears.com/">
<meta property="og:locale" content="en_US">

<script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"http:\/\/catbears.com\/","name":"The Catbears - Kids Activities","potentialAction":{"@type":"SearchAction","target":"http:\/\/catbears.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>

<script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"Organization","url":"http:\/\/catbears.com\/","sameAs":["http:\/\/facebook.com\/thecatbears","http:\/\/instagram.com\/thecatbears","http:\/\/youtube.com\/thecatbears","http:\/\/pinterest.com\/thecatbears","https:\/\/twitter.com\/4thecatbears"],"@id":"#organization","name":"The Catbears - Kids Activities","logo":"http:\/\/catbears.com\/img\/share-img\/thecatbears-logo.jpg"}</script>


//- <meta name="msvalidate.01" content="A67657759C06A3C81BE13D5000F185A5">
//- <meta name="google-site-verification" content="YaTWJEurfw2KCw8bUuXx-u4iDcbP7zVDSBNnjwgNTdE">
 
<meta name="keywords" content="craft, kids activities, kids, diy, pdf, printable, pdfs, instant download, do it yourself, toddler, all ages, inspiration, kids create, puppets, pattern, scissors, coloring, coloring book, coloring pages, artsy, art, pre-school, speach therapy, kindergarten, crayons, sketch, doodle, catbears, cat, bear, fox, duck, ">

include ../include/s6-banner.jade	