// page-head-data.jade  : what every page includes

meta(name='viewport', content='width=device-width, initial-scale=1' , maximum-scale=1.0 , user-scalable=no)

meta(charset='UTF-8')
link(rel='stylesheet', type='/text/css', href='../css/normalize.css')
link(rel='stylesheet', type='text/css', href='../css/styles.css') 

include ../include/meta-tags.jade

link(rel='icon', type='image/png', href='img/logo-bee_small.png', sizes='16x16')
link(href='../img/logo_180x180.png', rel='apple-touch-icon')
link(href='../img/logo_180x180.png', rel='apple-touch-icon', sizes='76x76')
link(href='../img/logo_180x180.png', rel='apple-touch-icon', sizes='120x120')
link(href='../img/logo_180x180.png', rel='apple-touch-icon', sizes='152x152')
link(href='../img/logo_180x180.png', rel='apple-touch-icon', sizes='180x180')
link(href='../img/logo_192x192.png', rel='icon', sizes='192x192')
link(href='../img/logo_180x180.png', rel='icon', sizes='128x128')


link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Schoolbell', rel='stylesheet')

script(type='text/javascript', src='lib/jquery/dist/jquery.js')
script(type='text/javascript', src='../scripts/scroll-to-div.js')

script(type='text/javascript', async='', defer='', data-pin-tall='true' , src='//assets.pinterest.com/js/pinit.js')
