// PROMO: HELP US GROW

.promo-item
  .subscribe-wrapper
    h2 STAY IN THE KNOW
    p Don't miss out on your next favourite activity! Add your e-mail address to get the latest on new activities and exclusive sales.
    .subscribe-form
        include ../include/mailchimp-form.jade
//- include ../include/share-icons.jade
// END OF PROMO

