// PROMO: HELP US GROW

.promo-item
  .subscribe-wrapper
    h2 Subscribe
    p Get a monthly recap of latest posts 
    include ../include/mailchimp-form.jade
//- include ../include/share-icons.jade
// END OF PROMO