// PROMO: HELP US GROW

.promo-item
  .overlay.overlay__blinking-catbear
  .overlay.overlay__blinking-snail
  .subscribe-wrapper
    h2 שמור על קשר!
    //- h2 Spam Free Notifications!
    הרשם לעדכונים חודשיים כך שלא תפספס את הפעילויות החדשות שלנו
    .subscribe-form
        include ../include/mailchimp-form--israel.jade
//- include ../include/share-icons.jade
// END OF PROMO

