// PROMO: HELP US GROW

.promo-item
  .overlay-container 
    .overlay.overlay__blinking-catbear
    .overlay.overlay__blinking-snail
  .subscribe-wrapper
    h2 
      span.color--red Stay 
      span.color--orange in 
      span.color--skyblue touch
    //- h2 Spam Free Notifications!
    p Get our updates and we'll make sure you'll never miss a thing.
    .subscribe-form
        include ../include/mailchimp-form.jade
//- include ../include/share-icons.jade
// END OF PROMO

