// PROMO: HELP US GROW

.promo-item
  .overlay.overlay__blinking-catbear
  .overlay.overlay__blinking-snail
  .subscribe-wrapper
    h2 More Catbears!
    //- h2 Spam Free Notifications!
    p We'll let you know when new activities are available. promise!
    .subscribe-form
        include ../include/mailchimp-form.jade
//- include ../include/share-icons.jade
// END OF PROMO

