//- link(rel='stylesheet', type='text/css', href='../css/s6-banner.css')

//- script(type='text/javascript').
//-   <!--
//-   s6_user = "thecatbears";
//-   s6_format = "250X250";
//-   //-->
//- script(type='text/javascript', src='https://society6.com/js/show_banner.js')
