.share__wrapper
  a.share__button--icon(href='https://www.instagram.com/thecatbears/', target='_blank' onClick = "ga('send', 'event', 'Button', 'Click', 'promo-share_instagram')")
    img(src='../img/promo-share/instagram.png', alt='instagram', style='width:40px;height:40px;')
  a.share__button--icon(href='https://www.facebook.com/theCatbears/', target='_blank' onClick = "ga('send', 'event', 'Button', 'Click', 'promo-share_facebook')")
    img(src='../img/promo-share/facebook.png', alt='logo-footer', style='width:40px;height:40px;')
  a.share__button--icon(href='https://twitter.com/intent/tweet?text=Check%20out%20this%20super%20cute%20website%21%20www.catbears.com%20&source=clicktotweet&related=clicktotweet', target='_blank' onClick = "ga('send', 'event', 'Button', 'Click', 'promo-share_tweeter')")
    img(src='../img/promo-share/twitter.png', alt='logo-footer', style='width:40px;height:40px;')
  a.share__button--icon(href='mailto:?subject=look at this website&body=Hey, I found this cute website and thought you might like it: www.catbears.com', target='_top' onClick = "ga('send', 'event', 'Button', 'Click', 'promo-share_email')")
    img(src='../img/promo-share/mail.png', alt='logo-footer', style='width:40px;height:40px;')