doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    title my jade template
  body
    h1 JADE IS working when saving - GG! 
    p Let's draw a duck!!!!!!!
    include nav.jade