// catbearsNav.scss
@import "./variables.scss";


.catbearsNav {
	position: fixed;
	width : 80px;
	height : 100%;
	background-color : $catbears__primary;
	display: flex;
	flex-direction : column;
	align-items : start;
	.tab{
		height: 80px;
		width: 80px;
		padding: 10px;
		transition : background-color 100ms ease-in-out;
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
		&:active {
			background-color: rgba(255,255,255,0.2);
		}
		img {
			width: 60px;
			height: 60px;
			object-fit: cover;
		}
	}
	.tab__main {
		padding-top: 6px;
		padding-left: 9px;
	}
	.tab__selected {
		background-color: rgba(255,255,255,0.2);
	}
}