
.gallery-container {
  width: 600px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;

  #gallery {
    // z-index: 99999;
    height: auto;
    margin: 0;
    padding: 0;

    .gallery__item {
      height: 600px;
      width: 600px;
      float: left;
      list-style-type: none;
      text-align: center;
      background-color: rgb(250, 247, 248);
      color : #dad6d7;
    }
  }
  #gallery-controller {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left : 0;

    .gallery__button {
      height: 100%;
      width: 50%;
      opacity: 0.2;
      transition : opacity 150ms ease-in-out;
      &:hover , &:active {
        opacity: 1;
      }
      &:focus , &:visited {
        opacity: 0.2;
      }
    }

    .gallery__button--left {
      // background-color: rgba(135, 206, 235, 0.25);
      background: url('../img/btn-gallery--left.png') center left 7% no-repeat;      
      float: left;
    }    
    .gallery__button--right {
      // background-color: rgba(255, 120, 0, 0.25);
      background: url('../img/btn-gallery--right.png') center right 7% no-repeat; 
      float: right;

    }

  }
}
#gallery-counter {
  width: auto;
  height: 32px;
  margin-bottom: -30px;
  margin-bottom: -30px;
  display: flex;
  justify-content : center;
  // float: right;
  // background-color: pink;
}

.gallery-counter__bubble {
  height : 10px;
  width : 10px;
  background-color: #ddd;
  border-radius: 100%;
  margin :  10px 6px;
  float: left;
}

.gallery-counter__bubble--selected {
  background-color: #ec008c;
}

@media(max-width: 1200px) {
  .gallery-container {
    width : 100%;
  }
  #gallery-counter {
    display: block-inline;
    float: right;
  }
}

@media(max-width: 768px) {
  .gallery__button {
    // display: none;
  }
}

