// grid
////////
// FLEXBOX not working - check why
// install autoprefixer and test on safari 
// read css-tricks about grid with browser support

@import "./variables.scss";


// 2 items in row
// 1 item in row
#site-wrapper {
}

// 3 items in row
#grid {
  display: block;
  width : 1160px;
  padding : 0 30px;
  height : auto;
  margin : 0 auto;
}

// GRID
.box {
  // background-color: yellow;
  max-width: 336px;
  max-height: 440px;
  margin : 0 15px;
  margin-bottom: 60px;
  width : 100%;
  height : 100%;
  float : left ; 

   h2 {
    margin-top: 5px;
   }
   p {
    margin-top: 0px; 
    color : $gray__light--2;
    font-size : 16px;
    font-style: italic;

   }
   a {
    color : $link;
   }

}
.box-spacer {
  height: 1px;
  background-color: none;
  margin-bottom: 0px;
}
.image-container {
  position: relative;
  width : 100%;
}



.box img {
  background-color: white;
  max-width: 336px;
  max-height: 336px;
  width : 100%;
  border-radius: 10px;
  border: 1px solid $gray__light;
  transition: border 50ms ease-in-out , -webkit-filter 50ms ease-in-out,  filter 50ms ease-in-out ;

  -webkit-filter: saturate(0.85);
  filter: saturate(0.85);

  &:hover {
    border: 1px solid $gray__light--2;
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.badge-on-thumb {
  position: absolute;
  width: 52px;
  height: 52px;
  background-size: 100% 100%;
  bottom: 13px;
  left: 9px;
}
.age__badge--1 {
  width: 40px;
  background: url('../img/badges/icon-age_1.png') no-repeat;
}
.age__badge--2 {
  width: 40px;
  background: url('../img/badges/icon-age_2.png') no-repeat;
}
.age__badge--3 {
  width: 40px;
  background: url('../img/badges/icon-age_3.png') no-repeat;
}
.age__badge--4 {
  width: 40px;
  background: url('../img/badges/icon-age_4.png') no-repeat;
}
.age__badge--5 {
  width: 40px;
  background: url('../img/badges/icon-age_5.png') no-repeat;
}
.age__badge--6 {
  width: 40px;
  background: url('../img/badges/icon-age_6.png') no-repeat;
}
.difficulty__badge--pencil {
  background: url('../img/badges/badge_pencil.png') no-repeat;
  background-size: 100% 100%;
}
.difficulty__badge--scissors {
  background: url('../img/badges/badge_scissors.png') no-repeat;
  background-size: 100% 100%;
}
.badge--instagram {
  background: url('../img/badges/badge_instagram.png') no-repeat;
  background-size: 100% 100%;  
}

.badge--pdf-icon {
  background: url('../img/badges/icon-pdf.png') no-repeat;
  background-size: 100% 100%;  
}

.badge--apple {
  background: url('../img/badges/badge_apple.png') no-repeat;
  background-size: 100% 100%;  
}

.badge--s6 {
  background: url('../img/badges/badge_s6.png') no-repeat;
  background-size: 100% 100%;  
}




@media (max-width: 1200px){
	// 2 items in row
	#grid {
	  width : 960px;
	  padding: 0;
	}
	.box {
		max-width: 300px;
		margin: 0px 10px;
		// max-height: 300px;
		margin-bottom: 40px;
	}
}

@media (max-width: 1000px){
	// 2 items in row
	#grid {
	  width : 640px;
	  padding: 0;
	}
	.box {
		max-width: 300px;
		margin: 0px 10px;
		// max-height: 300px;
		margin-bottom: 40px;
	}
}

@media (max-width: 700px){
	// 1 item in row
	#grid {
	  // background-color: yellow;
	  max-width : 330px;
	  width: auto;
	  height: auto;
      margin : 0 auto;
      padding : 0 15px;

	}
	.box {
	  	margin : 0 auto;
  		margin-bottom: 40px;
	}
}
