// hp-fullscreen.scss

@import "./variables.scss";

.poster-fullscreen {
  position: relative;
  background-color: black;
  // width: 100%;
  // height: 100vh;
  overflow : hidden;
  margin-bottom: 50px;
  // text-align:center;
  .poster-fullscreen__bg-img{
     position: absolute;
     z-index: 0;
     width: 100%;
     height: 100%;
     background: url('../img/hp/hp-fullscreen-bg.jpg') center top no-repeat;      
     
  }
  #player {
    display: none;
    position: absolute;
    z-index: 1;
    text-align: center;
  }
  .fullscreen__obj {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }
  .fullscreen__obj--logo , .fullscreen__obj--cta , .fullscreen__obj--stickers {
     position: absolute;
     z-index: 10;
  }
  .player-blocker {
    position: absolute;
    z-index: 2;
    // width: 100%;
    // height: 100%;
    opacity: 0;
    background-color : white;
  }
  .fullscreen__obj--logo  {
     top: 12px;
     left: 10px;
     z-index: 1000;
  }
  .fullscreen__obj--stickers {
     bottom: -5px;
     right: 0;
  }
  .fullscreen__obj--cta {
    bottom: 20px;
    left: 40px;
    max-width: 688px;
    z-index: 100;
    h1 {
      font-size: 78px;
      color: white;
      text-align: center;
      font-family: 'Schoolbell', 'Open Sans', sans-serif;
      transform: rotate(-9deg);
     -ms-transform: rotate(-9deg); /* IE 9 */
     -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
      text-shadow: 2px 2px 9px rgba(0,0,0,0.6);
    }
    .arrow {
      float: right;
      width : 99px;
      height : 103px;
      background: url('../img/hp/arrow-cta.png') center top no-repeat;

    }

  }
}

@media (max-width: 1200px) {

}

@media (max-width : 1024px){
.poster-fullscreen {
    max-height: 1024px;
    margin-bottom: 20px;
   .poster-fullscreen__bg-img {
       background-size: auto 100% ;
    }
  
    .fullscreen__obj--stickers {
      display: none
    }

    .fullscreen__obj--cta {
      max-width: 300px;
      padding : 0 20px;
      left : 0;
      right: 0;
      margin: 0 auto;
      // background-color: blue;
      text-align: center;
      h1 {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        font-size: 30px ;
        float: none;
        margin-bottom: 4px;
      }
      .arrow {
        float: none;
        width : 25px;
        height : 42px;
        margin : 0 auto;
        background: url('../img/hp/arrow-cta__ipad.png') no-repeat;

      }
    }
    #player {
      display: none !important;
    }
  }
}

@media (max-width : 545px){
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
}

