// hp.scss

@import "./variables.scss";

h1.item--title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 13px;
}


@media (max-width: 1200px) {
  .header-container {
    margin-top: 12px;
  }
  #upper-site {
    margin-bottom: 20px;
  }
}


@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  #site-wrapper {
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
    #site-wrapper {
      max-width: 100%;
      width : 100%;

  }
}

