// difficulty__icons.scss

.icon--age10 {
	background: url('../img/icons/icon-difficulty-age10.png') center no-repeat;
	background-size: 100% 100%;
}

.icon--cutting-knife {
	background: url('../img/icons/icon-cutting-knife.png') center no-repeat;
	background-size: 100% 100%;
}