// israel.scss

body {
	direction: rtl;
	font-family: 'Varela Round', sans-serif;
}

.promo-item .subscribe-wrapper h2  {
	font-family: 'Amatica SC', cursive;
}

.promo-item .subscribe-wrapper {
	font-size : 18px;
	// font-family: 'Varela Round', sans-serif;

}

#site-wrapper {
	// background-color: white;
}

.header-container h1 {
	font-family: 'Amatica SC', cursive;
	// font-family: 'Varela Round', sans-serif;
	// font-family: 'Miriam Libre', sans-serif;
	font-weight: 600;
	font-size: 30px;
}

.promo-item {
  direction: ltr;	
}

#mc-embedded-subscribe {
	font-size: 28px !important;
	padding-bottom : 5px;
}

.zootali-invitation {
	width: 100%;
	max-width: 1200px;
	// padding : 0 50px ;
	margin: 0 auto ;
	text-align: center;
	margin-bottom: 90px;
	// max-width: 400px;
}

.zootali-invitation img {
	width: 100%;
	max-width: 1200px;
	// padding : 0 50px ;
	margin: 10px auto 0px;
	text-align: center;
}

.print-zootali-invitation  {
	margin-top: -50px;
}

.mobile-img {
	display: none;
}


.site-layot h2 {
	font-size: 24px;
}

// .zootali-invitation img , .zootali-invitation h3  {
// transform: rotate(-3.5deg);
//   -ms-transform: rotate(-3.5deg); /* IE 9 */
//   -webkit-transform: rotate(-3.5deg); /* Chrome, Safari, Opera */
// }

.logo-container {
  display: flex;
  flex-direction : column;
}

.logo-container img {
  margin-top: 3px;
}

#upper-site {
  display: block;
}

@media(max-width: 1200px) {
	.zootali-invitation img {
		// padding : 0 20px ;
	}
}

@media(max-width: 580px) {
	.zootali-invitation img {
		padding : 0px ;
	}

	.mobile-img {
		display: block;
	}
	.desktop-img {
		display: none;
	}

	.site-layot {
		margin-bottom: 40px;
	}
	.subscribe-wrapper h2 {
		display: none;
	}
}