//colors
$color_celeste_approx: #ccc;
$white: white;
$color_chrome_white_approx: #e4f3d9;
$color_torch_red_approx: #f72222;
$color_fuscous_gray_approx: #555555;
$black: black;
$color_mountain_mist_approx: #999;
$color_gallery_approx: #eee;
$color_pink_swan_approx: #bbb;
$color_alto_approx: #ddd;

//urls
$url_0: url(../img/pages/icon-pdf.png);

//@extend-elements
//original selectors
//.promo-item__image, .promo-item__image img
%extend_1 {
  max-width: 207px;
  max-height: 247px;
  width: 100%;
  height: auto;
}

h1.item--title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 13px;
}
h2.price__content--free {
  font-size: 25px;
  color: $color_torch_red_approx;
  font-weight: 600;
  margin-top: -2px;
}
ul.description--text {
  padding-left: 5px;
  list-style: none;
  li {
    line-height: 24px;
    &:before {
      padding-right: 15px;
      content: '\2022';
      color: $color_mountain_mist_approx;
    }
  }
}

.youtube-vid {
  width: 50vw;
  height: 50vw;
  max-width: 600px;
  max-height: 600px;
}

#page-navigation {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}
.main-item {
  background-color: $white;
  width: 100%;
  height: 640px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-item__gallery {
  height: auto;
  width: auto;
}
.main-item__content {
  padding-top: 13px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.main-item__content--title-info-line {
  display: flex;
  flex-direction: row;
  height: 74px;
  width: 100%;
  border-bottom: 1px solid $color_chrome_white_approx;
  padding-bottom: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.price {
  align-self: flex-end;
  display: flex;
  min-width: 160px;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.price__icon {
  height: 53px;
  width: 44px;
  background: $url_0 no-repeat;
}
.price__content {
  height: 100%;
  margin-left: 10px;
  max-width: 140px;
}
.price__content--pdf-size {
  color: $color_fuscous_gray_approx;
  font-size: 14px;
}
.badges-container {
  display: flex;
}
.info-line__badge {
  height: 52px;
  width: 52px;
  margin-left: 15px;
}
.main-item__description {
  width: 100%;
  color: $black;
  margin-bottom: 30px;
}
.main-item__subscribe {
  padding-top: 40px;
}
.main-item__subscribe--title {
  padding-bottom: 13px;
}
.promo-item {
  background-color: $white;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
  border: 1px solid $color_gallery_approx;
  margin-top: 50px;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.promo-item__image {
  width: 270px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo-item__content {
  padding-top: 30px;
  padding-left: 30px;
  width: 400px;
  max-height: 350px;
  flex: 4;
}
.promo-item__content--text {
  width: 420px;
  padding-right: 50px;
  margin-bottom: 30px;
}
.promo-item__content--cta {
  max-width: 590px;
  min-height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.promo-item__button--icon {
  width: 273px;
  height: 63px;
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: $white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border: 1px solid $white;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: border 100ms ease-in-out , box-shadow 200ms ease-in-out;
  &:hover {
    border: 1px solid $color_pink_swan_approx;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 3px 3px $color_alto_approx;
  }
  p {
    padding-left: 15px;
  }
}
.promo-item__closing-image {
  width: 195px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
@media(max-width: 1200px) {
  .main-item {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100%;
  }
  .main-item__gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 450px;
    width: 100%;
    margin-bottom: 20px;
    img {
      height: auto;
      width: 100%;
    }
  }
  .main-item__content {
    width: 100%;
    margin: 0;
    padding-top: 0;
  }
  .promo-item {
    height: 510px;
  }
  .promo-item__image {
    height: 510px;
    width: 380px;
  }
  .promo-item__closing-image {
    display: none;
  }
  .promo-item__content {
    padding-left: 0;
  }
  .promo-item__content--text {
    width: auto;
  }
}
@media(max-width: 800px) {
  .promo-item {
    flex-direction: column;
    height: 815px;
    align-items: center;
  }
  .promo-item__image {
    padding-left: 25px;
    margin: 30px 30px 30px 0;
    max-width: 207px;
    max-height: 247px;
    width: 100%;
    height: auto;
    img {
      max-width: 207px;
      max-height: 247px;
      width: 100%;
      height: auto;
    }
  }
  .promo-item__content {
    padding: 15px;
    width: 100%;
  }
  .promo-item__content--text {
    width: 100%;
    padding-right: 0;
  }
  .promo-item__button--icon {
    width: 100%;
    border: 1px solid $color_celeste_approx;
  }

  .youtube-vid {
    width: 90vw;
    height: 90vw;
  }

}



