@import "./variables.scss";

.site-layot {
  max-width : 1330px;
  width : 100%;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 13px;
  font-family: 'Open Sans', sans-serif; 
}


h2.price__content--free {
  font-size: 25px;
  color: $gray__medium;
  font-weight: 600;
  // margin-top: -2px;
}

// .logo-container {
//   float: left;
//   width: 100%;
//   background-color: orange;
//   // display: flex;
//   // flex-direction : column;
//   .nav-item {http://localhost:3000/
//     float: right;
//     border : 2px red solid;
//   }
// }

.navigation {

  .navigation__items {
  max-width: 1330px;
  margin: 0 auto;

    .navigation__logo--large {
      display: none;
    }

    .navigation__logo--small {
      display: block !important;
    }
    .nav-item {
      text-shadow: none !important;
    }
    .nav-item__contact , .nav-item__about {
      display: none !important;
    }
  }
}


.share-banner {
  margin : 0 auto;
  padding : 35px 35px;
  background-color: #f3fdff;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
  float: left;
} 

///// page-item

@import "./variables.scss";
$url_0: url(../img/pages/icon-pdf.png);

.page-item {
  height: auto;
  max-width: 1330px;
  width: 100%;
  margin : 0 auto;
  margin-bottom: 50px;
  float: left;
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  position: relative;
}
.page-item__main-img {
  height: 432px;
  max-width: 770px;
  width: 100%;
  float: left;
  margin-right: 0px;
  z-index: 1400;
  iframe {
    width : 100%;
    height : 100%;
  }
  .img-fit-container {
    width : 100%;
    height : 100%;
    overflow: hidden;
    position: relative;
  }
  img { 
    display: block;
    position: absolute;
    width : 100%;
    height : auto;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
  }
}

.page-item__info--list {
  font-size : 18px;
  color : $gray__medium;
  border-top: 1px solid $gray__light;
  margin-bottom: 35px;
}
.youtube-vid {
  width: 50vw;
  height: 50vw;
  max-width: 600px;
  max-height: 600px;
}


.page-item__content {
  float: right;
  padding-top: 13px;
  min-width: 470px;
  max-width: 470px;
  height : 432px;
  border : 3px solid $gray__lightest ;
  padding : 22px 30px 0 30px;
}

.page-item__description {
  width: 100%;
  color: $black;
  padding-bottom : 20px;
}

.page-item__cta {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  a {
    width: 100%;
  }
  p {
    font-size: 14px;
    margin-top: 9px;
    color: $gray__light--2;
  }
}

.page-description {
  width: 100%;
  margin: 0 auto;
  float: left;
  .columns {
    display: flex;
    justify-content : space-between;

    img , .video , .video-square {
       width: 100%;
       margin : 0 auto;
       margin-bottom: 25px;
       // border-radius: 10px;
       float: left;
    }
    .video {
      width : 100%;
      min-height: 280px;
    }
    .video-square {
      width: 500px;
      height: 500px;
      border : 1px solid $gray__lightest; 

    }
  }

  .left-column , .right-column{
    margin-bottom: 50px;
    float: left;
  }
  .left-column {
    max-width : 690px;
    margin-right: 30px;
    img {
      margin-top: 20px;
      max-width: 470px;
    }
  }
  .right-column { 
    max-width : 470px;
    float: right;
  }
}

.video .youtube-video{
    margin: 0 auto;
    border : 1px solid #e2e2e2;
}
@media(max-width: 1024px) { //ipad patch to work with flexbox
   .page-item__main-img{
    max-width: 482px;
   }
}

@media(max-width: 960px) {
  .site-layot {
    padding: 0 10px;
  }
  .page-item__content {
    height : auto;
    margin-top: -24px;
    z-index: 0;
    padding : 15px 0px 0 0px;
    border : none;
  }
  .page-item {
    display: block;
    padding-bottom : 65px;
    margin-bottom: 20px;
    border-bottom: 3px solid $gray__lightest ;
  }
  .page-item__main-img , .page-item__content {
    max-width: 100%;
    width: 100%;
    min-width: 0;
    margin: 0;
  }
  .page-item__main-img {
    height: 300px;
    
    .img-fit-container {
    }
    img { 
      display: block;
      position: absolute;
      height : auto;
      width : 100%;
      top: 0; left:-100%; right: -100%; bottom:0;
      margin: auto;
    }
  }
  .page-description {
    .columns {
      display: block;
      .left-column , .right-column{
        width: 100%;
        max-width : 100%;
        margin-top: 0px;
      }
    }
  }

  .navigation .navigation__items {
    .navigation__logo--small {
      left : 10px !important;
    } 
  }
}



@media(max-width: 480px) {
  .page-item__main-img {
    height: 200px;
  }
}





/////// GALLERY PRINT PAGES /////


// .page-item__gallery--print-pages {
//   width : 466px;
// }


// .page-item__gallery {
//   max-width: none;
//   max-height: none;
// }


.gallery-container {
  max-width: 100%;
  width : 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  height: 185px;
  // border : 1px solid orange;
  .gallery-wrapper{
    overflow: hidden;

    #gallery {
      margin: 0;
      padding: 0;
      margin-top: 15px;
      padding-top: 5px;
      margin-left: 0px;
      width : 100%;
      height: 500px;
      a {
        height: 157px;
        width: 114px;
      } 

      .gallery__item {
        height: 155px;
        width: 112px;
        float: left;
        list-style-type: none;
        text-align: center;
        position: relative;
        border : 2px solid $gray__light;
        box-shadow: 0px 2px 2px 1px rgba(00, 00, 00, 0.04);
        &:hover {
          border : 2px solid $catbears__primary;
          &:after { 
           position: absolute;
           top: 95px;
           left: 10px;
           width: 52px;
           height: 52px;
           z-index: 999999;
           content: "";
           background: url('../img/icons/icon_print.png') center left 7% no-repeat;      
             // border : 1px solid $catbears__primary;
          }
        }
        
      }
    }



  }
  #gallery-controller {
    width : 100%;
    height: 0; 
    position: absolute;
    top: 0;
    left : 0;
    // background-color: rgba(23,45,66,0.4);

    .gallery__button {
      cursor: pointer;
      position: absolute;
      top:75px;
      height: 45px;
      width: 45px;
      opacity: 1;
      z-index: 99999;
      transition : opacity 150ms ease-in-out;
      &:hover , &:active {
        // opacity: 0.7;
      }
      &:focus , &:visited {
        opacity: 0.9;
      }
    }

    .gallery__button--left {
      left: -52px;
      background: url('../img/gallery-cuts/btn-gallery--left.png') center left 7% no-repeat;      
    }    
    .gallery__button--right {
      right: -50px;
      background: url('../img/gallery-cuts/btn-gallery--right.png') center right 7% no-repeat; 
    }
    .page-fade_right {
      position: absolute;
      width : 11px;
      height : 166px;
      right: 0;
      top: 18px;
      background: url('../img/gallery-cuts/page-fade_right.png') center right 7% no-repeat; 
    }

  }
}

.static-gallery #gallery {
  display: flex;
  justify-content : space-around;
  width: 100% !important;
  margin: 0 auto ;
  .gallery__item {
  }
}

.static-gallery {
  .page-fade_right , .gallery__button {
    display: none;
  }
}


#gallery-counter {
  width: auto;
  height: 32px;
  // margin-bottom: -30px;
  // margin-bottom: -30px;
  display: flex;
  justify-content : center;
}

.gallery-counter__bubble {
  height : 10px;
  width : 10px;
  background-color: $gray__light;
  border-radius: 100%;
  margin :  10px 6px;
  float: left;
}

.gallery-counter__bubble--selected {
  background-color: $catbears__primary;
}

@media(max-width: 1200px) {
  .gallery-container {
    width : 100%;
  }
}

@media(max-width: 960px) {
  .gallery-container {
    .gallery-wrapper {
    }
    #gallery-controller {
      .gallery__button {
        top: 190px;
        }
      .gallery__button--left {
        left: 0px;
      }    
      .gallery__button--right {
        right: 0px;
      }
    }
  }
  .static-gallery #gallery{
    // background-color: red;
  }
  .static-gallery {
    margin-bottom : -45px ;
  }
}





