@import "./variables.scss";

// %extend_1 {
//   max-width: 207px;
//   max-height: 247px;
//   width: 100%;
//   height: auto;
// }
h1 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 13px;
  // font-family: 'Amatic SC', 'Open Sans', sans-serif; 
  font-family: 'Open Sans', sans-serif; 
}
h2.price__content--free {
  font-size: 25px;
  color: $gray__medium;
  font-weight: 600;
  margin-top: -2px;
}

.logo-container {
  display: flex;
  flex-direction : column;
}

.logo-container img {
  margin-top: 3px;
  transform: rotate(-6deg);
  -ms-transform: rotate(-6deg); /* IE 9 */
  -webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
    // background-color: $promo__yellow ;
}

.back-btn {
  font-weight: 400;
  margin-bottom: 6px;
  font-size: 15px;
  max-width : 65px;
}
#page-navigation {
  width : 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  margin-top: 10px;
}




.share-banner {
  // border : 3px solid #d7f7ff;
  padding : 35px 20px;
  background-color: #f3fdff;
  margin-bottom: 100px;
  text-align: center;
} 

@media(max-width: 1200px) {

  #page-navigation {
    padding-left : 0;
  }

  .back-btn {
    display: none;
  }
  
}




