@import "./variables.scss";

//  make a centered div, position the gifs next to it

.promo-item {
  padding: 80px 16px 0;
  overflow: hidden;
  position: relative;           
  text-align : center;
  width: 100%;
  height: 510px;
  z-index: 9999;
  background-image: url("../img/footer/footer-bg-img.png");
  background-position: center; 
  background-repeat: no-repeat; 

  // background-color: rgba(255, 192, 203, 0.46); //pink;
  h2 {
    // font-family: 'Amatic SC', 'Open Sans', sans-serif;
    // font-family: 'Schoolbell', 'Open Sans', sans-serif;
    font-weight: 600;
    // height: 80px;
    padding-top: 20px;
    font-size : 22px;
    color : white;
    // background-color: $catbears__primary;
    color: black;
    // margin-bottom: 30px;
  }
  p {
    margin-top: 40px;
    color: $catbears__primary;
  }
  .subscribe-wrapper .foot-note {
    margin-top : 0;
    max-width : 400px;
    padding: 20px 16px 0;
    margin: 0 auto; 
  }
  .overlay-container {
    // overlay items located in relation to this container
    z-index: 99999;
    // width: 2px;
    // height: 2px;
    position: absolute;
    margin : 0 auto;
    top: 50%;
    left : 50%;
    right : 50%;
    bottom : 50%;
  }
}

.overlay {
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
  content: "";
  position: relative;
  background-repeat: no-repeat; 
  // background-color: rgba(255, 0, 0, 0.1);
}

.overlay__blinking-catbear {
  top: 0px;
  left: -570px;
  width: 180px;
  height: 210px;
  background-image: url("../img/gifs/blinking-catbear.gif");
}

.overlay__blinking-snail {
  top: 16px;
  top: -140px;
  left: 430px;
  width: 157px;
  height: 170px;
  background-image: url("../img/gifs/blinking-snail.gif");
}

.subscribe-wrapper {
  padding-bottom: 30px;
  max-width: 650px;
  margin : 0 auto ;
  background-color: white;
  border-radius: 6px; 
  .subscribe-form {
    margin : 0 auto ;
    margin-top: 15px;
    max-width: 400px;
    padding: 0 16px;
  }
}

.share__wrapper {
  width : 280px;
  margin : 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 35px;

}
.share__button--icon {
  // margin : 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  -webkit-filter: saturate(0);
  filter: saturate(0);

  &:hover {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

#mce-EMAIL{ 
  border: none !important;
  box-shadow: 0px 0px 5px 2px rgba(00, 00, 00, 0.1);

}
.clear #mc-embedded-subscribe , #mce-EMAIL{
  border-radius: 4px !important;
  height: 60px;
  text-decoration: none !important;
  outline:none !important;
  border: none !important;
  cursor: pointer;
  transition : box-shadow 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 5px 2px rgba(00, 00, 00, 0.15);
  }
}


#mc-embedded-subscribe  {
  display: inline !important;
  width : 100%;
  text-align: center ;
} 

@media(max-width: 1200px) {
  .promo-item {
    // padding : 0 15px;
    // margin-top: 70px;
  }
}

@media(max-width: 700px) {
  .promo-item {
  }
  .subscribe-wrapper {
  }
}

@media (max-width: 585px){
  .promo-item {
    padding-top: 10px;
    h2 {
      font-size: 20px;
      // height: 70px;
    }
  }
  .subscribe-wrapper {
  }
}
