//lightbox_free-download

@import "./variables.scss";

.lightbox {
    background-color: $lightbox-background;
    height : 100%;
    width : 100%;
    top : 0;
    left : 0;
    position: fixed;
    z-index: 9999999;
    display: none;
    -webkit-backface-visibility: hidden;
}

.lightbox-container {
    transform: rotate(-2deg);
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    background-color: $promo__yellow ;
    max-width : 600px;
    height : auto;
    padding : 80px;
    padding-top : 50px;
    margin: 0 auto;
    display: block;
    margin-top : 10%;
    text-align: center;
    // border-radius: 8px;
    box-shadow: 0px 2px 15px rgba(55, 55, 55, 0.2);
    position: relative;

    .heart {
      background-image: url("../img/heart.png");
      height: 93px;
      width : 76px;
     -webkit-filter: drop-shadow(-1px 10px 2px rgba(0,0,0,0.2));
      filter: drop-shadow(-1px 10px 2px rgba(0,0,0,0.2)); 
      background-repeat: no-repeat;
      position: absolute;
      left : 44%;
      margin-right: 40px;
      top : -45px;
    }
    .close-x {
       font-size : 40px;
       position: absolute;
       top : 0;
       right : 0;
       margin-right: 15px;
       color : #b2b204;
       margin-top: 4px;
       cursor:default;
       transition: color 150ms ease-in-out;
       transform: rotate(45deg);
       -ms-transform: rotate(45deg); /* IE 9 */
       -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        &:hover {
            color : $black;
        }
    } 

    .text-container {
      // transform: rotate(2deg);
    }

    .lightbox--title {
        font-family: 'Amatic SC', 'Open Sans', sans-serif; 
        font-size : 120px;
        margin-bottom: 7px;
        color : $black;
    }

    .lightbox--p {
      color : $black;
    }

    .lightbox--cta {
        margin : 0 auto;
        margin-top: 40px;
        // color : $catbears__primary;
        max-width : 400px;
        // background-color: rgba(255,255,255,0.9);
        &:hover {
          // color : #ec008c;
        // background-color: $white;
          // box-shadow: none;
          // color: #ec008c;
        }
    }

    .lightbox--mini-text {
      margin-top: 20px;
      line-height: 24px;
      font-size : 14px;
    }
}

@media (max-width: 720px){
  .lightbox-container {
    margin : 0;
    max-width: 100%;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    padding : 40px;
  }

  .heart { display: none}
}

@media(max-width: 450px) {
  .lightbox-container {

    .lightbox--title {
        font-family: 'Amatic SC', 'Open Sans', sans-serif; 
        font-size : 80px;
        margin-bottom: 7px;
        color : $black;
    }
  }
}