// navigation.scss

.navigation {
	position: absolute;
	top:0;
	z-index: 9999999;
	color : white;
	text-align: center;
	margin: 0 auto;
	width : 100%;
    // noMarkup
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
	

	.navigation__items {
		position: relative;
		padding : 6px 12px;
	  
		
		.navigation__logo {
			position: absolute;
			left : 20px;
			width: auto;
			height: auto;
		}
		.navigation__logo--large {
			width : 345px;
  	   	    height : 296px;
  	   	    background: url('../img/hp/hp-logo__dark.png') center top no-repeat;
		}
		.navigation__logo--small {
			display: none;
		    width : 122px;
  	   	    height : 97px;
  	   	    top : 6px;
  	   	    margin-left : 5px;
  	   	    background: url('../img/logo-header.png') center top no-repeat;
	        // transform: rotate(-8deg);
	        // -ms-transform: rotate(-8deg); /* IE 9 */
	        // -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
			
		}

		.nav-item {
			position: absolute;
			// top: 5px;
			color: white;
    	    font-size : 25px;
    	    text-align: center;
 	        font-family: 'Schoolbell', 'Open Sans', sans-serif;
	        font-weight: 100;
	        text-shadow: 2px 2px 9px rgba(0,0,0,0.6);
			margin: 6px 20px 12px;

			// background-color: red;
			height: 80px;
			
			&:hover {
				// text-decoration: underline;
			}
		}
		.nav-item__about {
			right: 340px;
	        transform: rotate(-7deg);
	        -ms-transform: rotate(-7deg); /* IE 9 */
	        -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
		}
		.nav-item__home {
			display: none;
			right: 340px;
	        transform: rotate(0deg);
	        -ms-transform: rotate(0deg); /* IE 9 */
	        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		}
		.nav-item__contact {
			right: 220px;
	        transform: rotate(4deg);
	        -ms-transform: rotate(4deg); /* IE 9 */
	        -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
			 display: block;
		}
		.nav-item__signup {
			width : 114px;
			height: 139px;
			right: 0px;
			margin-right: 55px;
			top: -70px;
			transform: scale(1.4);
			padding-top: 78px;
			background: url("../img/icons/pull-btn.png") no-repeat;
		    background-size: 114px 139px;
		    
		     transition : top 80ms ease-in-out;
		    &:hover {
		    	top: -65px;
		    }
		    &:active {
			    top: -25px;	
		    }
		}
	}
}


// hp-logo__dark__ipad.png



@media (max-width : 1024px){
  .navigation {
	.navigation__items {
	   .nav-item {
	   }
	   .navigation__logo {
  	   	  position: default;
  	   	  // left : 0;
	   }	
  	   .navigation__logo--large {
  	   	  width : 202px;
  	   	  left : 0;
  	   	  top: -8px ;
  	   	  height : 176px;
  	   	  background: url('../img/hp/hp-logo__dark__ipad.png') center top no-repeat;
		}	
    }
  } 
}	


@media (max-width : 650px){
	
	.nav-item__about , .nav-item__contact  {
		display: none !important;
	}

	.nav-item__signup {
	  transform: scale(1) !important;
	  right: 0 !important;
	  margin-right: 27px !important;
	}
}