/*REMOVE INSTAGRAM STYLES*/

.instagram-media {
  a, p {
    display: none;
  }
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
  width: 596px !important;
  height: auto !important;
  div {
    margin: 0 !important;
    background-image: none !important;
  }
}

/*END - INSTAGRAM STYLES*/

#page-navigation {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.main-item {
  background-color: white;
  width: 100%;
  height: 640px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*padding : 10px;*/
}

.main-item__gallery {
  height: auto;
  width: auto;
  max-width: 638px;
  max-height: 638px;
}

.main-item__content {
  width: 397px;
  height: 638px;
  padding-top: 13px;
  /*background-color: pink;*/
  margin: 15px 30px;
  display: flex;
  flex-direction: column;
}

h1.item--title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 13px;
  /*background-color: #e2e2e2*/
}

.main-item__content--title-info-line {
  display: flex;
  flex-direction: row;
  height: 53px;
  width: 100%;
  border-bottom: 1px solid #e4f3d9;
  padding-bottom: 20px;
  margin-bottom: 20px;
  /*background-color: lime;*/
  justify-content: space-between;
}

.price {
  align-self: flex-end;
  display: flex;
  /*min-width : 200px;*/
  height: 100%;
  /*background-color: magenta;*/
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.price__icon {
  height: 100%;
  width: 44px;
  background: url('../img/pages/icon-pdf.png');
}

.price__content {
  height: 100%;
  margin-left: 10px;
  max-width: 140px;
}

h2.price__content--free {
  font-size: 25px;
  color: #f72222;
  font-weight: 600;
  margin-top: -2px;
}

.price__content--pdf-size {
  color: #555555;
  font-size: 14px;
}

.badges-container {
  display: flex;
}

.info-line__badge {
  height: 100%;
  width: 53px;
  margin-left: 15px;
}


/*DESCRIPTION*/

.main-item__description {
  // height: 200px;
  width: 100%;
  color : black;  
  // padding-bottom: 20px;
  margin-bottom: 30px;

}

ul.description--text {
  padding-left: 5px;
  list-style: none;
  li {
    line-height: 24px;
    &:before {
      padding-right: 15px;
      content: '\2022';
      color: #999;
    }
  }
}

.main-item__subscribe {
  padding-top : 40px;
}

.main-item__subscribe--title {
  padding-bottom: 13px;
}

.main-item__cta {

}


/*PROMOTION*/

.promo-item {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #eee;
  margin-top: 50px;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.promo-item__image {
  width: 270px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-item__content {
  padding-top: 30px;
  padding-left: 30px;
  width: 400px;
  max-height: 350px;
  flex: 4;
}

.promo-item__content--text {
  width: 420px;
  padding-right: 50px;
  margin-bottom: 30px;
}

.promo-item__content--cta {
  max-width: 590px;
  min-height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.promo-item__button--icon {
  width: 273px;
  height: 63px;
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border: 1px solid white;
  border-radius: 5px;
  // box-shadow: 0px 1px 1px #ddd;
  transition: border 100ms ease-in-out , box-shadow 200ms ease-in-out;
  &:hover {
    border: 1px solid #bbb;
    box-shadow: 0px 3px 3px #ddd;
  }
  p {
    padding-left: 15px;
  }
}

.promo-item__closing-image {
  width: 195px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  /*background-color: yellow;	*/
}

/*MEDIAS*/
@media (max-width: 1200px) {
  .main-item {
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    height: 1100px;
  }
  .main-item__gallery {
    max-width: 438px;
    max-height: 438px;
    padding: 30px 0;
    img {
      height: auto;
      width: auto;
      max-width: 438px;
      max-height: 438px;
    }
  }
  .main-item__content {
    width: 100%;
    margin: 0;
    padding-top: 0;
  }
  .promo-item {
    height: 510px;
  }
  .promo-item__image {
    height: 510px;
    width: 380px;
  }
  .promo-item__closing-image {
    display: none;
  }
  .promo-item__content {
    padding-left: 0px;
  }
  .promo-item__content--text {
    width: auto;
  }
  /*INSTAGRAM MEDIA*/
  .instagram-media {
    width: 400px !important;
    height: auto !important;
    padding-top: 30px !important;
  }
}

@media (max-width: 800px) {
  .main-item {
    height: 950px;
    padding: 0;
  }
  h1.item--title {
    font-size: 24px;
  }
  .main-item__gallery {
    width: 336px;
    height: 336px;
    padding: 0 0 20px 0 ;

    img {
      height: auto;
      width: auto;
      max-width: 336px;
      max-height: 336px;
    }
  }
  
  .main-item__subscribe--title {
    text-align: center;
  }
  
  .promo-item {
    flex-direction: column;
    height: 815px;
  }
  .promo-item__image {
    padding-left: 25px;
  }
  .main-item__content {
    width: 307px;
  }
  .promo-item__content {
    padding: 15px;
    width: 307px;
  }
  .promo-item__content--text {
    width: 100%;
    padding-right: 0;
  }
  .promo-item__button--icon {
    width: 295px;
  }
  .promo-item__image {
    width: 270px;
    height: 350px;
  }
  /*INSTAGRAM MEDIA*/
  .instagram-media {
    width: 332px !important;
    height: auto !important;
    padding-top: 0px !important;
  }
}



// border-bottom: 1px solid #e4f3d9;








// DEV colors:

// body {
//   background : white;
// }

// .main-item__content {
//   background-color: #e2e2e2;
// }

// .main-item__gallery {
//   background-color:  green ;
// }

// .main-item__content--title-info-line {
//   background-color: purple ;
// }
// .main-item__content--description {
//   background-color: pink;
// }
// .main-item__description {
//   background-color: lightgreen;
// }

// .main-item__cta {
//   background-color: purple;
// }
// .main-item__subscribe {
//   background-color: skyblue;
// }

// .main-item__subscribe--title {
//   background-color: red;
//   }

