@import "./variables.scss";


#footer {
  // margin-top: -60px;
}
.promo-item {
  position: relative;           
  margin-top: 30px;
  text-align : center;
  width: 100%;
  height: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-image: url("../img/footer/footer-bg-img.png");
  background-position: center; 
  background-repeat: no-repeat;  
  h2 {
    font-family: 'Amatic SC', 'Open Sans', sans-serif;
    font-weight: 100;
    font-size : 60px;
    margin-bottom: 7px;
    // color : #ec008c;
    margin-bottom: 20px;
  }
}


.overlay {
  content: "";
  position: relative;
  background-repeat: no-repeat; 
  // background-color: rgba(255, 0, 0, 0.1);
}

.overlay__blinking-catbear {
  top: 193px;
  left: -577px;
  width: 180px;
  height: 210px;
  background-image: url("../img/gifs/blinking-catbear.gif");
}

.overlay__blinking-snail {
  top: 40px;
  left: 520px;
  width: 157px;
  height: 170px;
  // background-color: rgba(255, 0, 0, 0.1);
  background-image: url("../img/gifs/blinking-snail.gif");
}

.subscribe-wrapper {
  position: absolute;
  max-width: 350px;
  .subscribe-form {
    margin : 0 auto ;
    margin-top: 35px;
    max-width: 340px;
  }
}

.share__wrapper {
  width : 280px;
  margin : 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;

}
.share__button--icon {
  margin : 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  opacity: 0.75;

  transition: opacity 150ms ease-in-out;
  &:hover {
    opacity: 1;
  }
}

#mc-embedded-subscribe , .clear , #mce-EMAIL{
  border-radius: 0;
}


#mc-embedded-subscribe  {
  display: inline !important;
  width : 100%;
  text-align: center ;
} 

@media(max-width: 1200px) {
  .promo-item {
    margin-top: 70px;
  }
}

@media(max-width: 800px) {
  .promo-item {
    height: 350px;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 315px;
    margin-top: 0;
    background-image : none;
  }
  .subscribe-wrapper {
    padding: 0 10px ;
  }
  
  .overlay {
    display: none;
  }
}