// static-page.scss

.sticky-nav__logo , .nav-item__signup , .nav-item__about {
    display: none !important;
}

.nav-item__contact {
    right : 10px !important;
}
.nav-item__home {
    display: block !important;
    width : 120px;
    left : 0;
}

.poster {
      background-image: url('../img/about/poster-bg.png');
      width: 100%;
      height: 609px;
      background-repeat: no-repeat;
      background-position: center; 
    .nav{
        max-width: 680px ;
        height: 40px;
        margin: 0 auto;
        padding-top: 20px;
        .back-btn {
            color : white;
            height: auto;
            width: 100px;
            padding: 20px;
            font-size: 20px;
            .underline {
                text-decoration: underline;
            }
        }
    }
    .poster__overlay--container {
        margin: 0 auto;
        padding: 20px;
        max-width: 400px;
        margin-top: 25px;
        .poster__mini-text { 
            color: white;
            font-family: 'Schoolbell', 'Open Sans', sans-serif;
            text-align: center;
            font-size: 32px;
            font-weight: 600;
            margin-top: 40px;
            margin-bottom: -45px;
            margin-right: 200px; 
            padding-left: 20px;    
        }
        .poster__logo--overlay {
            background-image: url('../img/about/poster-logo.png');    
            max-width: 359px;
            height: 250px;
            margin: 0 auto;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center; 
        }
        .poster__text {
            font-family: 'Schoolbell', 'Open Sans', sans-serif;;
            font-size: 35px;
            color: white;
            margin-top: 30px;
            text-align: center;
        }
    }
}

#content-container {
    display: flex;
    flex-direction : column;
    align-items : center;
    margin: 0 auto;
    width: 100%;
}
.section {
    margin-top: 30px;
    max-width: 680px;
    padding: 20px;
    h1 {
    margin-bottom: 20px;
    }
    p {
        font-size: 21px;
        line-height: 31px;
        font-weight: 100;
        color: #333;
    }
    .quote {
        text-align: center;
        margin-bottom: 30px;
    }
    .signature {
        text-align: center;
        margin-bottom: 100px;
    }
}

.section-thumbnail {
    max-width: 980px;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items : center;
    justify-content: space-around;

    .thumb__img {
      min-width: 454px;
      height: 404px;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: center; 
      background-size: contain;
    }
    .thumb__img--left {
      margin-right: 40px;
    }
    .thumb__img--right {
        -ms-flex-order: 2;     
        order: 2;
    }
    .thumb__img--activity {
      background-image: url('../img/about/thumb_activity.png');  
    }
    .thumb__img--your-own {
      background-image: url('../img/about/thumb_your-own.png');  
    }
    .thumb__text {
      min-width: 400px;  
      margin: 0;
      padding: 20px;
    }
}

.section-note {
    margin-top: 100px;
    margin-bottom: 100px;
    padding : 40px;
    box-shadow: 0px 1px 8px 4px #e9e9e9;
    h2 {
        font-size: 30px;

    }
    .separator {
        width: 100%;
        border-bottom: 1px solid #ccc;
        margin-bottom: 40px;
    }
    .section-note__text-container {
        margin-top: 30px;
    }
    .strong {
        font-weight: 600;
        margin-bottom: 10px;
    }
    .btn__note {
        margin: 25px 0 48px;
    }
    .btn__note--feedback {
        width: 260px;
    }
    .note__social-buttons {
        .btn__note--social {
            margin-right: 10px;
            padding : 7px;
            max-width: 60px;
            float: left;
            img {
                width: 57px;
                height: 57px;
            }
        }
    }
}

@media (max-width: 975px) {
    .section {
        // margin-top: 40px;
        max-width: auto;
        width : 100%;
    }
    .section-thumbnail {
        display: block;
        width: 100%;
        margin: 0 auto;
        height: auto;
       
        .thumb__text {
          min-width: 0;  
          width: 100%;
          margin: 0;
          padding: 20px;
        }

        .thumb__img {
            // background-color: #e2e2e2;
            min-width: 0px;
            width: 100%;
            height: 350px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 585px) {
    .section-note {
        padding : 40px 25px;
        .btn__note--feedback {
            width : 100%;
            padding : 0 10px;
        }
    }

}