// sticky-nav.scss

.sticky-nav {
	position: absolute;
	top:0;
	z-index: 9999999;
	color : white;
	text-align: center;
	margin: 0 auto;
	width : 100%;
	// background-color: rgba(255,255,255,0.2);

	.sticky-nav__items {
		position: relative;
		padding : 6px 12px;
		
		.sticky-nav__logo {
			position: absolute;
			left : 20px;
			width: auto;
			height: auto;
		}
		.sticky-nav__logo--large {
			width : 345px;
  	   	    height : 296px;
  	   	    background: url('../img/hp/hp-logo__dark.png') center top no-repeat;
		}
		.sticky-nav__logo--small {
			display: none;
		    width : 91px;
  	   	    height : 67px;
  	   	    top : 6px;
  	   	    margin-left : 5px;
  	   	    background: url('../img/logo-header.png') center top no-repeat;
	        // transform: rotate(-8deg);
	        // -ms-transform: rotate(-8deg); /* IE 9 */
	        // -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
			
		}

		.nav-item {
			position: absolute;
			// top: 5px;
			color: white;
    	    font-size : 25px;
    	    text-align: center;
 	        font-family: 'Schoolbell', 'Open Sans', sans-serif;
	        text-shadow: 2px 2px 9px rgba(0,0,0,0.6);
			margin: 12px 20px;
			&:hover {
				text-decoration: underline;
			}
		}
		.nav-item__about {
			right: 300px;
	        transform: rotate(-7deg);
	        -ms-transform: rotate(-7deg); /* IE 9 */
	        -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
		}
		.nav-item__home {
			display: none;
			right: 300px;
	        transform: rotate(0deg);
	        -ms-transform: rotate(0deg); /* IE 9 */
	        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		}
		.nav-item__contact {
			right: 170px;
	        transform: rotate(4deg);
	        -ms-transform: rotate(4deg); /* IE 9 */
	        -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
			 display: block;
		}
		.nav-item__signup {
			width : 140px;
			height: 70px;
			right: 0;
			margin-top: -2px;
			padding-top: 17px;
			background: url("../img/svg/sketchy-btn.svg") no-repeat;
		    background-size: 140px 70px;
		    transform: scale(0.84);
		}
	}
}


// hp-logo__dark__ipad.png



@media (max-width : 1024px){
  .sticky-nav {
	.sticky-nav__items {
	   .nav-item {
	   }
	   .sticky-nav__logo {
  	   	  position: default;
  	   	  // left : 0;
	   }	
  	   .sticky-nav__logo--large {
  	   	  width : 202px;
  	   	  height : 176px;
  	   	  background: url('../img/hp/hp-logo__dark__ipad.png') center top no-repeat;
		}	
    }
  } 
}	


@media (max-width : 650px){
	
	.nav-item__about , .nav-item__contact  {
		display: none !important;
	}
}