/*Colors
CATBEARS ORANGE : #ff9231*/


* {
  box-sizing: border-box;
  // flex : 0 1 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
}
 
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color : #777;
}
a {
  color: black;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}
h2 {
  text-decoration: none;
}
a  {
  &:visited {
    color: black;
  }
  &:hover {
    color: #ff0097;
  }
}
h1, h2, h3, h4, p, a, div {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 40px;
  font-weight: 100;
}
h2 {
  font-size: 21px;
  font-weight: 600;
}
input, button, submit {
  border: none;
}
.btn {
  cursor:default;
  width: 100%;
  border : none !important;
  text-align: center !important;
  display: flex !important;
  min-height: 38px;
  color: white;
  font-weight: 400;
  font-size : 16px;
  background-color: #ec008c; //#ff7800;
  text-align: center !important;
  justify-content: center !important;
  align-content: center !important;
  margin: 0;
  padding: 0 30px;
  transition: background-color 0.35s ease-in-out;
  &:visited {
    background-color: #ec008c;
    color: white;
  }
  &:hover  {
     background-color: #ff0097; //#ff9231;
     color:white;
    }
  &:active {
    background-color: #ec008c;;
  }
}
.btn__primary {
  width: 100%;
  height: 60px;
  font-size : 22px;
  padding-top : 15px;
  padding-bottom : 18px;
  background-color: #ec008c;
  transition: background-color 0.15s ease-in-out , box-shadow 0.50s ease-in-out;
  &:hover  {
    box-shadow: 0px 0px 15px 2px rgba(255, 0, 151, 0.35);
  }
}

#site-wrapper {
  // max-width: 1160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding : 0;
}
#upper-site {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
  margin-top: 25px;
}
.logo-header {
  width: 152px;
  margin: 0 auto;
  display: flex;
}


#lower-site, #coast2coast--centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 9999;
  margin: 0 auto;
  margin-top: 20px;
}

#lower-site {
  width: 1140px;
  min-height: 500px;
  padding : 0 20px;
}

#coast2coast--centered {
  width: 100%;
  text-align: center;
  align-items : center;
}


#footer {
 width : 100%; 
 text-align: center;
 padding-top : 20px; 
 p {
  color : #777;
  font-size : 14px;
  padding-bottom: 70px;
 } 
}


@media (max-width: 1200px) {


  #site-wrapper {
    width : 100%;
    // max-width : 768px;
    margin : 0 auto;
  }
  #lower-site {
    width : 580px;
  }
  .header-container {
    margin-bottom: 8px;
    margin-top: 0;
  }

  #lower-site--centered {
    text-align: center;
  }
}

/*MOBILE*/
@media (max-width: 585px) {
  p {
  font-family: 'Open Sans', sans-serif;
  line-height: 26px;
}

  #lower-site {
    width : 100%;
  }
}