/*Colors
CATBEARS ORANGE : #ff9231*/
// green #3bd768

@import "./variables.scss";

* {
  box-sizing: border-box;
}

body {
  margin-top: 400px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
  // background-color: $catbears__primary;
  background-color: $white;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#site-wrapper , #coast2coast--centered, #footer {
  background-color: $white;
}
p {
  font-size: 18px;
  line-height: 26px;
  color : $gray__medium;
}
a {
  cursor:default;
  color: $link;
  text-decoration: none;
  // transition: color 0.15s ease-in-out;
  &:visited {
    color: $link;
  }
  &:hover {
    cursor: pointer;
    color: $link__hover;
  }
}

strong {
  color: black;
}

.site-layot {
  display: block;
  width: 1190px;
  min-height: 500px;
  padding : 0 20px;
  z-index: 9999;
  margin: 0 auto;
}

.dark-link {
  color: $black;
  &:visited {
    color: $black;
  }
  &:hover {
    cursor: pointer;
    color: $link__hover;
  }
}

.bold {
  font-weight: 600;
}

.centered {
  text-align: center !important;
}

.micro-text {
  font-size: 14px;
  line-height: 18px;
  margin-top: 9px;
  color: $gray__light--2;
}

h2 {
  text-decoration: none;
}

h1, h2, h3, h4, p, a, div {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 40px;
  font-weight: 100;
}
h2 {
  font-size: 18px;
  font-weight: 600;
}
input, button, submit {
  border: none;
}
.marker__blue {
  background-color: $marker__blue;
  line-height: 32px;
  padding : 0 3px;
}
.btn {
  display: block !important;
  // font-family: 'Schoolbell', 'Open Sans', sans-serif !important;
  letter-spacing: 3px;
  cursor: pointer;
  width: 100% !important;
  border : none !important;
  text-align: center !important;
  // display: flex !important;
  // justify-content: center !important;
  // align-content: center !important;
  
  // noMarkup
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none; 

  min-height: 38px;
  color: white;
  font-weight: 400;
  font-size : 24px !important;
  background-color: $catbears__primary ;
  margin: 0;
  padding: 0 30px;
  // transition: background-color 0.35s ease-in-out;
  transition: none !important;
  &:visited {
    background-color: $catbears__primary;
    color: $white;
  }
  &:hover  {
     background-color: $catbears__primary--hover;
     color: $white;
    }
  &:active {
    background-color: $catbears__primary--active;
  }
}

.btn__large {
  line-height: 55px;
  width: 100%;
  height: 60px;
  font-size : 22px;
  line-height: 59px !important;
  // padding-bottom : 18px;
}

.btn__small {
  height: 46px ;
  line-height: 6px;
  font-weight: 600;
  font-size : 16px !important;
  letter-spacing: 1px;
}
.btn__primary {
  background-color: $catbears__primary;
  // transition: background-color 0.09s ease-in-out ;//, box-shadow 0.50s ease-in-out;
  &:hover  {
    // box-shadow: 0px 0px 15px 2px $catbears__primary--highlight;
  }
}

.btn__secondary {
  background-color: rgba(0,0,0,0) !important;
  color : $white !important;
  border : 1px solid $catbears--skyblue !important;
  &:hover  {
    border : 1px solid $catbears--orange !important;
  }
}

.btn_icon{
  // position: relative;
  margin: 0 auto;
}
.btn__icon {
  position: relative;
}
.btn__icon--printer{
  position: absolute;
  top: 10px;
  left: 12px;
  width: 52px;
  height: 40px;
  border-right : 1px solid rgba(255,255,255,0.6);
  background-color: red;
  background: url('../img/icons/icon_printer.png') no-repeat;
}

#site-wrapper {
  overflow: hidden;
  margin: 0 auto;
  padding : 0;
}
#upper-site {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 40px;
  margin-top: 25px;
  text-align: center;
  h1 {
      font-size: 16px;
      margin: 0 auto;
      margin-top: 6px;
      font-weight: 600;
      margin-bottom: 0px;
      letter-spacing: 1px;
      // font-family: 'Amatic SC', 'Open Sans', sans-serif; 
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;

    }
}
.logo-header {
  width: 152px;
  margin: 0 auto;
  display: flex;
}

#coast2coast--centered {
  margin: 0 auto;
  width: 100%;
  display: block;
}

#footer {
 width : 100%; 
 text-align: center;
 z-index: 9999;
 padding-bottom: 10px;
 p {
  display: inline-block;
  margin:  0 15px;
  margin-bottom: 20px;
 } 
 a {  
  display: inline-block;
  margin:  0 15px;
  font-size: 18px;
  margin-bottom: 20px;
 }  
}


@media (max-width: 1200px) {


  #site-wrapper {
    width : 100%;
    margin : 0 auto;
  }
  .site-layot {
    width : 100%;
    max-width : 768px;
    // width : 400px;
  }
  .site-layot--centered {
    text-align: center;
  }
  .header-container {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 0;
  }
}

/*MOBILE*/
@media (max-width: 585px) {
  .site-layot {
    width : 100%;
  }  
  p {
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
  }

  .header-container {
    padding: 0 30px;
    h1 {
     // font-size: 50px;
    }
  }


}


// shake logo

.shake__hover:hover {
  animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10% {
    transform: rotate(2deg);
    // transform: translate3d(-1px, 0, 0);
  }
  
  20% {
    transform: rotate(-4deg);
    // transform: translate3d(2px, 0, 0);
  }

  30% {
    transform: rotate(5deg);
    // transform: translate3d(-4px, 0, 0);
  }

  50% {
   transform: rotate(-4deg);
    // transform: translate3d(4px, 0, 0);
  } 

  60% {
   transform: rotate(2deg);
    // transform: translate3d(4px, 0, 0);
  }
  80% {
   transform: rotate(0deg);
    // transform: translate3d(4px, 0, 0);
  }
}

// end - shake logo

.heart {
  background-image: url("../img/heart.png");
  height: 93px;
  width : 76px;
 -webkit-filter: drop-shadow(-1px 10px 2px rgba(0,0,0,0.2));
  filter: drop-shadow(-1px 10px 2px rgba(0,0,0,0.12)); 
  background-repeat: no-repeat;
  position: absolute;
  left : 44%;
  margin-right: 40px;
  top : -60px;
}

// RAINBOW ANIMATION 
.rainbow-animation {

      -webkit-animation-name: rainbow; /* Safari 4.0 - 8.0 */
      -webkit-animation: rainbow 10s infinite; /* Safari 4.0 - 8.0 */
      animation-name: rainbow;
      animation: rainbow 10s infinite;
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes rainbow {
        from {  
          -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
        }
      to {
        -webkit-filter: hue-rotate(359deg);
        filter: hue-rotate(359deg);
    }
    }

    /* Standard syntax */
    @keyframes rainbow {
      from {  
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
      }
      to {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
    }
}


.rainbow-animation-slow {

      -webkit-animation-name: rainbow; /* Safari 4.0 - 8.0 */
      -webkit-animation: rainbow 100s infinite; /* Safari 4.0 - 8.0 */
      animation-name: rainbow;
      animation: rainbow 100s infinite;
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes rainbow {
        from {  
          -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
        }
      to {
        -webkit-filter: hue-rotate(359deg);
        filter: hue-rotate(359deg);
    }
    }

    /* Standard syntax */
    @keyframes rainbow {
      from {  
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
      }
      to {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
    }
}
    // END - RAINBOW ANIMATION

ul, ol, li {
  font-size : 18px;
  line-height: 24px;
  color : $gray__medium;
}

ol {
  padding-left: 28px;
  margin-bottom: 35px;
}

ul.bullet {
  padding-left: 5px;
  list-style: none;
  line-height: 40px;
  margin-bottom: 35px;
}
li.bullet {
  &:before {
    padding-right: 15px;
    content: '\2022';
  }
}

p.bullet {
  margin-top: 6px;
  margin-left : -20px;
}

// .scale-on-hover {
//   &:hover {
//   }
// }


.rotate-scale-on-hover {
  transition : transform  0.07s ease-in-out;
  &:hover {
    transform: rotate(1.2deg) scale(1.04);
    -ms-transform: rotate(1.2deg) scale(1.04); /* IE 9 */
    -webkit-transform: rotate(1.2deg) scale(1.04);
  }
  
}

.comic {
  font-family: 'Schoolbell', 'Open Sans', sans-serif;
}
.color--red {
  color : $catbears__red;
}
.color--orange {
  color : $catbears__orange;
}
.color--skyblue {
  color : $catbears__skyblue;
}

// Pinetrest Btn

.pinterestBtnContainer {
  height: auto;
  width: auto;
  background-color: orange;
  position: absolute;
  display: block;
  right: 0;
  .pinterestBtn {
    width: 50px;
    position: absolute;
    right: 0px;
    top : 0px;
    width: auto;
    height: auto;
      z-index: 99999;
    img {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      border-left : 1px solid rgba(255,255,255,0.2);
      border-bottom : 1px solid rgba(255,255,255,0.2);
    }
  }
}


// saturation hover

.saturateOnHover {
  -webkit-filter: saturate(0.85);
  filter: saturate(0.85);
  transition : filter 100ms ease-in-out , -webkit-filter 100ms ease-in-out , margin-top 100ms ease-in-out , margin-bottom 100ms ease-in-out , transform 100ms ease-in-out;

  &:hover {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}


.unSaturateOnHover {
  -webkit-filter: saturate(1);
  filter: saturate(1);
  transition : filter 100ms ease-in-out , -webkit-filter 100ms ease-in-out , margin-top 100ms ease-in-out , margin-bottom 100ms ease-in-out , transform 100ms ease-in-out;

  &:hover {
    -webkit-filter: saturate(0.85);
    filter: saturate(0.85);
  }
}

.sticky {
  position: fixed !important;
}

.noMarkup {
  cursor:default;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none; 
}



// ---- layouts

.layout-850px {
  position: relative;
  max-width : 1124px;
  padding : 0 50px;
  height : 100%;
  margin : 0 auto;
  z-index: 10;
  // background-color: blue;
}

@media (max-width: 1200px) {
}

@media (max-width: 500px) {
  .layout-850px {
    padding: 0 16px;
  }
}

// HORIZONTAL FORM
@media (min-width: 1024px) and (max-width: 3000px) {
  .horizontal-form {
    max-width: 450px;
    width: 100%;
    margin: 0 !important;
    padding : 0 !important;

    #mc_embed_signup_scroll {
      display: flex;
      position: relative;
      justify-content: space-between !important;
      align-items: space-between !important;
      margin: 0 !important;
      padding : 0 !important;
      width: 100% !important;
      // background-color: blue;
      #mce-EMAIL  {
        // background-color: orange !important;
        width: 100% !important;
        margin: 0 !important;
        height : 70px;
        border-radius: 8px !important;
        border: none !important;
      }
      .mc-field-group {
        position: absolute;
        min-width: 100% !important;
        width: 100% !important;
        .mce_inline_error {
          // color : blue !important;
          bottom : -55px !important;
          min-height : 40px !important;
          padding-top: 10px !important;
        } 
      }
    }

    .clear {
    }

    #mc-embedded-subscribe {
      position: absolute;
      max-width: 150px;
      // width: 150px;
      margin: 0 !important;
      padding: 0 !important;
      // background-color: black;
      right : 8px;
      top: 10px;
      height : 50px;
      border-radius: 4px !important;
    }
    .micro-text.foot-note {
      color: white;
      padding: 0;
      margin-top: 10px; 
      color : red;
      opacity: 0.75;
    }
  } 
}

@media (max-width: 1024px) {
  .horizontal-form {
    max-width: 390px;
    margin: 0 auto;
    #mc_embed_signup_scroll {
      // background-color: blue;
      #mce-EMAIL  {
        // background-color: orange !important;
        width: 100% !important;
        margin: 0 !important;
        height : 60px;
        // border-radius: 8px !important;
        margin-bottom: 6px !important;
        border: none !important;
      }
    }
  }
  #mc-embedded-subscribe {
    // background-color: black;
    height : 60px !important;
    border-radius: 8px !important;
    // background-color: #5f2929;
  }
}