/*Colors
CATBEARS ORANGE : #ff9231*/
// green #3bd768

@import "./variables.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: $white;
  overflow-x: hidden;
}
 
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color : $gray__medium;
}
a {
  cursor:default;
  color: black;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}
h2 {
  text-decoration: none;
}
a  {
  &:visited {
    color: $black;
  }
  &:hover {
    cursor: pointer;
    color: $catbears__primary;
  }
}
h1, h2, h3, h4, p, a, div {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 40px;
  font-weight: 100;
}
h2 {
  font-size: 18px;
  font-weight: 600;
}
input, button, submit {
  border: none;
}
.btn {
  cursor: pointer;
  width: 100%;
  border : none !important;
  text-align: center !important;
  display: flex !important;
  min-height: 38px;
  color: white;
  font-weight: 400;
  font-size : 16px;
  background-color: $catbears__primary ;
  text-align: center !important;
  justify-content: center !important;
  align-content: center !important;
  margin: 0;
  padding: 0 30px;
  transition: background-color 0.35s ease-in-out;
  &:visited {
    background-color: $catbears__primary;
    color: $white;
  }
  &:hover  {
     background-color: $catbears__primary--hover;
     color: $white;
    }
  &:active {
    background-color: $catbears__primary--active;
  }
}

.btn__large {
  line-height: 55px;
  width: 100%;
  height: 60px;
  font-size : 22px;
  // padding-bottom : 18px;
}

.btn__primary {
  background-color: $catbears__primary;
  transition: background-color 0.09s ease-in-out ;//, box-shadow 0.50s ease-in-out;
  &:hover  {
    // box-shadow: 0px 0px 15px 2px $catbears__primary--highlight;
  }
}

.btn__secondary {
  background-color: $catbears__secondary;
  color : $black;
  transition: background-color 0.15s ease-in-out , color 0.10s ease-in-out;
  &:hover  {
    box-shadow: none;
    background-color: $catbears__secondary--hover;
  }
}



#site-wrapper {
  // max-width: 1160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding : 0;
}
#upper-site {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
  margin-top: 25px;
  text-align: center;
}
.logo-header {
  width: 152px;
  margin: 0 auto;
  display: flex;
}




#lower-site, #coast2coast--centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 9999;
  margin: 0 auto;
  margin-top: 20px;
}

#lower-site {
  width: 1190px;
  min-height: 500px;
  padding : 0 20px;
}

#coast2coast--centered {
  width: 100%;
  text-align: center;
  align-items : center;
}


#footer {
 width : 100%; 
 text-align: center;
 padding-top : 20px; 
 p {
  color : #777;
  font-size : 14px;
  padding-bottom: 70px;
 } 
}


@media (max-width: 1200px) {


  #site-wrapper {
    width : 100%;
    margin : 0 auto;
  }
  #lower-site {
    width : 100%;
    max-width : 768px;
    // width : 400px;
  }
  .header-container {
    margin-bottom: 8px;
    margin-top: 0;
  }

  #lower-site--centered {
    text-align: center;
  }
}

/*MOBILE*/
@media (max-width: 585px) {
  p {
  font-family: 'Open Sans', sans-serif;
  line-height: 26px;
}

  #lower-site {
    width : 100%;
  }


}


// shake logo

.logo:hover {
  animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10% {
    transform: rotate(2deg);
    // transform: translate3d(-1px, 0, 0);
  }
  
  20% {
    transform: rotate(-4deg);
    // transform: translate3d(2px, 0, 0);
  }

  30% {
    transform: rotate(5deg);
    // transform: translate3d(-4px, 0, 0);
  }

  50% {
   transform: rotate(-4deg);
    // transform: translate3d(4px, 0, 0);
  } 

  60% {
   transform: rotate(2deg);
    // transform: translate3d(4px, 0, 0);
  }
  80% {
   transform: rotate(0deg);
    // transform: translate3d(4px, 0, 0);
  }
}

// end - shake logo