// variables.scss
// rgb(3,161,254);
//colors

$black: black;
$white: white;
$gray__lightest : #eaeaea;
$gray__light: #ddd;
$gray__light--2 :#a5a5a5;
$gray__default: #999;
$gray__medium: #777;
$gray__dark: #444;

$catbears__primary: #3bd768;
$catbears__primary--hover: #30e464;
$catbears__primary--active: #3bd768;
$catbears__primary--disabled: #eee;
$catbears__primary--highlight : rgba(48, 228, 100, 0.42);

$catbears__secondary : rgba(0,0,0,0.06);
$catbears__secondary--hover: #30e464;
$catbears__secondary--active: #30e464;
$catbears__secondary--disabled: #eee;

$link__light : #7b7bce; 
$link : blue;

$promo__yellow : #ffff07;

$marker__yellow : #ffffd8;
$marker__blue : #d7f7ff;
// $lightbox-background : rgba(255, 250, 255, 0.7);
$lightbox-background : rgba(0, 40, 0, 0.3);