//- racing-car.jade

extends ../templates/lesson_template.jade

block pageNav__icon
    img(src='../img/icons/tractor.jpg', alt='tractor')

block pageNav__title 
    | Build a Racing Car

block steps
    .step.noMarkup.step-intro.step__selected Intro
    .step.noMarkup.step-1 1
    .step.noMarkup.step-2 2
    .step.noMarkup.step-3 3
    .step.noMarkup.step-tips Tips
    .step.noMarkup.step-end End

block videoInfo--title 
    | Introduction  

block videoInfo--text
    | Boalo santo humblebrag bespoke food truck. Brunch skateboard butcher bespoke asymmetrical, polaroid tacos whatever gluten-free actually bitters echo park slow-carb. Whatever banjo slow-carb bitters raw denim roof party, thundercats XOXO 8-bit. Subway tile art party twee pug YOLO selvage, banh mi cred keytar biodiesel prism mlkshk pitchfork kogi. Poutine portland schlitz kitsch fashion axe vice. Pour-over VHS everyday carry thundercats. Truffaut 3 wolf moon succulents chartreuse tofu cornhole, cray vexillologist quinoa.

block activityPage
    img(src="../img/pages/Racing-Car/Racing-Car.png", alt="The Catbears Racing Car Activity Page")

block diffifulty 
    .difficulty__icon.icon--age10.noMarkup
    .difficulty__icon.icon--cutting-knife.noMarkup

block tools
    .tools__icon.icon--cutting-knife.noMarkup