doctype html
html
  head
    include ../include/page-head-data.jade
    link(rel='stylesheet', type='text/css', href='../css/ux.css')

  title UX by The Catbears

  body
    img(src='../img/ux/hp-thecatbears_002.png', alt='HP ux by The Catbears')