extends ./templates/item-page__img.jade

block title
  title 5 Coloring Pages - The Catbears

block gallery-img
  a(href='../pdf/The-Catbears-5-coloring-pages.pdf' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__IMG__5-coloring-pages'); lightboxInit('subscribe')")
    img(src='../img/pages/coloring-pages__000.png', alt='Coloring Page by The Catbears')

//- block gallery-items
//-   li.gallery__item.gallery__item--1 
//-     img(src='../img/pages/coloring-pages__001.png', alt='Coloring Page by The Catbears')
//-   li.gallery__item.gallery__item--2 
//-     img(src='../img/pages/coloring-pages__002.png', alt='Coloring Page by The Catbears')
//-   li.gallery__item.gallery__item--3
//-     img(src='../img/pages/coloring-pages__003.png', alt='Coloring Page by The Catbears')   

block hero__title
  | Printable Coloring Pages 

block hero__description--p
  | Download a PDF with 5 coloring pages, print it out and start coloring some cute Catbears!  

block hero__info
  .hero__info--list
    ul.bullet Here's what you'll need:
      li.bullet Printer
      li.bullet Coloring materials
      li.bullet A lot of excitement!

block hero__cta--micro-text                  
  p PDF file ・ 2MB ・ 5 Printable Pages

block hero__cta
  a.btn.btn__large.btn__primary.btn__payed(href='../pdf/The-Catbears-5-coloring-pages.pdf' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__5-coloring-pages'); lightboxInit('subscribe')") PRINT

block page-description
  .page-description
    h1 Description
      .columns
        .left-column
          p 
            | In every page there's something funny and un-expected - Can you find what it is?
            br
            br
            | Unlike most coloring pages, these ones are drawn freehand, which means there are no perfect vector shapes or curves. Your child will feel at ease when coloring outside the lines, giving more room for self expression.
        .right-column     
           img(src='../img/description-imgs/coloring__001.png', alt='Coloring Page by The Catbears')

//- $1.99 FREE - BUTTON TEST
//- block hero__cta
//-   a.btn.btn__large.btn__primary.btn__payed(onClick = "ga('send', 'event', 'Button', 'Click', 'PAYED__5-coloring-pages') ; lightboxInit()") Buy $1.99
