// about--israel.jade

extends ./templates/static-page.jade

block head
  link(href='https://fonts.googleapis.com/css?family=Schoolbell', rel='stylesheet')
  link(rel='stylesheet', type='text/css', href='../css/israel.css')
  link(href='https://fonts.googleapis.com/css?family=Amatica+SC|Varela+Round', rel='stylesheet')


block title
  title עלינו - The Catbears

block Hero 
    .hero
        .nav
           a.back-btn(href='../israel.html') <span class="underline"> לדף הבית</span>

        .hero__overlay--container
            .hero__logo--overlay

block page-content
   #content-container
       .section.about-us
            h1 
              strong יצירתיות 
              | - סביבה בה אנו יכולים לעשות טעויות
            p הקטברז היא סביבה בטוחה בה אנו חופשיים ללכת לאן שהדמיון ירצה לקרחת אותנו.
            br
            | 
            p באמצעות פעילויות מודפסות אנחנו מנסים לעודד חשיבה יצירתית ומחוץ לקופסה וזאת בכדי לעודד את הילדים לבטא את עולמם היחודי ולא ללכת בשביל סלול מראש.
        .section.section-thumbnail
            .thumb__img.thumb__img--left.thumb__img--activity
            .thumb__text
                p הפעילויות מראות איך ליצור משהו חדש ובכך הילדים מתרגלים את מיומנויות היצירה שלהם - גזירה, הדבקה, צביעה, אפיה.. 
        .section.section-thumbnail
            .thumb__img.thumb__img--right.thumb__img--your-own
            .thumb__text
                p מיד לאחר מכן אנחנו מעודדים את הילדים ליצור משהו חדש ולגמרי שלהם. הם נשלחים לדרכם האישית והיחודית לחקור את מה שלהם למדו ולהיות מעורבים בתהליך החשיבה היצרתית.  
        .section
            h1 למה פעילויות מודפסות
            p 
              | זה משחק של שיווי משקל. הילדים שלנו גדלים לתוך העולם של הטכנולוגיה והיא לוקחת חלק גדול ומשמעותי בחייהם. אנו מאמינים שהדרך למצא את שיווי המשקל היא כשהילד  
              strong נכנס ויוצא 
              | מהעולם הדיגיטלי. ולכן כל הפעילויות שלנו הן פעילויות שניתן להדפיס. בזמן שהם מאמנים את היכולות המוטוריות שלהן, אנו מעודדים לשתף את היצירות שלהם עם הקהילה וקבל פידבק על מה שהם עשו וכך הם גם לומדים שיעור חשוב - שכבר עכשיו מגיל צריך הם יכולים להשפיע על העולם. 
        .section.section-note
            h2.centered אתם יכולים לעזור
            .section-note__text-container
                p.bold
                  | כדי ליצור את הפעילויות הכי טובות לילדים אנחנו צריכים את הפידבק שלכם. 
                  br
                  a.bold(href="../israel.html") נסו את הפעילויות שלנו 
                  | ושתפו איתנו איך הילדים שלהם הגיבו לפעילויול - מה הם אהבו ליצור והאם היה משהו שהפריע להם.
                a(href="mailto:catbearsteam@gmail.com?subject=Feedback for The Catbears&body=Hey Catbears, Here's my feedback for the activity ________________ :", target='_top').btn.btn__large.btn__primary.btn__note.btn__note--feedback שלחו לנו פידבק
            .separator
            .section-note__text-container
                p.strong עזרו לנו לגדול
                p שתפו את הקטברז ברשתות חברתיות, עזרו לנו להגיע לקהל גדול יותר של אנשים.
                .note__social-buttons 
                    a.btn.btn__large.btn__primary.btn__note.btn__note--social(href='https://www.instagram.com/thecatbears/', target='_blank' onClick = "ga('send', 'event', 'Button', 'Click', 'About__instagram')")
                        img(src='../img/about/instagram_white.png', alt='instagram', style='width:28px;height:28px;')
                    a.btn.btn__large.btn__primary.btn__note.btn__note--social(href='https://www.facebook.com/theCatbears/', target='_blank' onClick = "ga('send', 'event', 'Button', 'Click', 'About__facebook')")
                        img(src='../img/about/facebook_white.png', alt='logo-footer', style='width:28px;height:28px;')
                    a.btn.btn__large.btn__primary.btn__note.btn__note--social(href='https://twitter.com/intent/tweet?text=Check%20out%20this%20super%20cute%20website%21%20www.catbears.com%20&source=clicktotweet&related=clicktotweet', target='_blank' onClick = "ga('send', 'event', 'Button', 'Click', 'About__tweeter')")
                        img(src='../img/about/twitter_white.png', alt='logo-footer', style='width:28px;height:28px;')
        .section
            h1.quote 
              strong יצירתיות
              |  היא אחריות
            p אנחנו קבוצה קטנה של יוצרים ומחנכים, אנו מאמינים שאי אשפר ללמוד להיות יצירתי וכל ילד נולד איתה, אבל אפשר לדכא יצרתיות אם לא נשמור עליה ונזין אותה.
            br
            p אנו מקווים שהקטברז יצרו סביבה בשביל הילדים בכל העולם שתעזור להם לפתח את מוחותיהם היצירתיים.
        .section
            .signature
                h1 תודה רבה
                p צוות הקטברז


block footer
  //- include ../include/footer.jade 
  //- include ../include/page-bottom-scripts.jade



