// about.jade

extends ./templates/static-page.jade

link(href='https://fonts.googleapis.com/css?family=Schoolbell', rel='stylesheet')


block title
  title About Us - The Catbears

block poster 
    .poster
        //- .nav
           a.back-btn(href='../') Back
        .poster__overlay--container
            .poster__mini-text About
            .poster__logo--overlay
            //- .poster__text Creativity = Making Mistakes

block page-content
   #content-container
       .section.about-us
            h1 
              strong Creativity 
              | - an Environment Where We Can Make Mistakes
            p The Catbears is a safe environment where we are free to follow our imagination where ever it may take us. 
            br
            | 
            p Our goal is to spark creative thinking using fun printable activities that encourage children to think and create their own worlds and not only follow a specific path.
        .section.section-thumbnail
            .thumb__img.thumb__img--left.thumb__img--activity
            .thumb__text
                p Each activity show an example for creating something new while practicing their craft skills - coloring, cutting, seweing, cooking... 
        .section.section-thumbnail
            .thumb__img.thumb__img--right.thumb__img--your-own
            .thumb__text
                p We then encourage the kids to create something new all by themselvs. They are set off on their own advantures, to explore the limits of what they’ve learned and be involved in the creation.   
        .section
            h1 Why Printable Activities
            p 
              | It's a game of balance. Technology is taking such a big part of our lives and we feel it's important to get kids 
              strong in and out 
              | of the digital world. That's why all our activities are printables. While practicing their crafting skills, we encourage kids to share their creations to the community, get feedback and learn they can affect the world from a very young age. 
        .section.section-note
            h2.centered You Can Really Help
            .section-note__text-container
                p.bold
                  | To make the best activities your feedback is key. 
                  br
                  | Please 
                  a.bold(href="../") Try our activities 
                  | and share with us how your kids responed to them - what did they like doing most and was there something that bothered them.
                a(href="mailto:catbearsteam@gmail.com?subject=Feedback for The Catbears&body=Hey Catbears, Here's my feedback for the activity ________________ :", target='_top').btn.btn__large.btn__primary.btn__note.btn__note--feedback Send Us Feedback
            .separator
            .section-note__text-container
                p.strong Help Us Grow
                p Share our work on social media, Help us reach more people.
                .note__social-buttons 
                    a.btn.btn__large.btn__primary.btn__note.btn__note--social(href='https://www.instagram.com/thecatbears/', target='_blank' onClick = "ga('send', 'event', 'Button', 'Click', 'About__instagram')") 
                      img(src='../img/about/instagram_white.png', alt='instagram', style='width:28px;height:28px;')
                    a.btn.btn__large.btn__primary.btn__note.btn__note--social(href='https://www.facebook.com/theCatbears/', target='_blank' onClick = "ga('send', 'event', 'Button', 'Click', 'About__facebook')")
                        img(src='../img/about/facebook_white.png', alt='logo-footer', style='width:28px;height:28px;')
                    a.btn.btn__large.btn__primary.btn__note.btn__note--social(href='https://twitter.com/intent/tweet?text=Check%20out%20this%20super%20cute%20website%21%20www.catbears.com%20&source=clicktotweet&related=clicktotweet', target='_blank' onClick = "ga('send', 'event', 'Button', 'Click', 'About__tweeter')")
                        img(src='../img/about/twitter_white.png', alt='logo-footer', style='width:28px;height:28px;')
        .section
            h1.quote 
              strong Creativity
              |  is a Responsibility
            p We are a small group of artists and educators, we strongly believe creativity cannot be tought - every child is born with it, But it can be suppressed if we don't protect and nurture it. 
            br
            p We hope our Catbears can provide this environment for children all over the world and help them develop their creative minds.
        .section
            .signature
                h1 Thank You.
                p The Catbears Team




