extends ./templates/item-page__gallery__sale.jade

block title
  title Catbears Stickers - The Catbears


block gallery-items
  li.gallery__item.gallery__item--1 
    img(src='../img/pages/catbears-stickers__001.png', alt='Catbears Stickers 001')
  li.gallery__item.gallery__item--2 
    img(src='../img/pages/catbears-stickers__002.png', alt='Catbears Stickers 002')
  li.gallery__item.gallery__item--3
    img(src='../img/pages/catbears-stickers__003.png', alt='Catbears Stickers 003') 
  li.gallery__item.gallery__item--4
    img(src='../img/pages/catbears-stickers__004.png', alt='Catbears Stickers 004')  
 
block main-item__title
  | DIY Catbears Stickers

block main-item__description--p
  | Making your own Catbears stickers is realy easy - just print on <strong>Sticker Paper</strong>, cut with scissors and you're good to go!  

block main-item__cta
  a.btn.btn__large.btn__primary(href='../pdf/The-Catbears-Stickers.pdf' target="_blank"  onClick = "ga('send', 'event', 'Button', 'Click', 'PDF-print-stickers')") Download FREE PDF

block main-item__cta--micro-text                  
  p PDF file ・ 1.7MB ・ 1 Printable Page

block main-item__subscribe-title
  | We'll let you know when we're up
                  


