extends ./templates/item-page__img.jade

block title
  title Catbears Stickers - The Catbears

block main-img
  a(href='../pdf/The-Catbears-Stickers.pdf' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__IMG__Catbears-Stickers'); lightboxInit('subscribe')")
    .img-fit-container
      img(src='../img/pages/catbears-stickers__000.png', alt='Stickers by The Catbears')

block gallery-items
  a(href='../pdf/The-Catbears-Stickers.pdf#page=1' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'PP-Gallery-Thumb__Catbears-Stickers'); lightboxInit('subscribe')")
    li.gallery__item.gallery__item--1
      img(src='../img/pages/catbears-stickers/page_001.png', alt='Activity Page by The Catbears')

//- block gallery-items
//-   li.gallery__item.gallery__item--1 
//-     img(src='../img/pages/catbears-stickers__001.png', alt='Catbears Stickers 001')
//-   li.gallery__item.gallery__item--2 
//-     img(src='../img/pages/catbears-stickers__002.png', alt='Catbears Stickers 002')
 
block page-item__title
  | DIY Catbears Stickers

block page-item__description--p
  | Make your own Catbears stickers! Print them on <strong>Sticker Paper</strong> and you're good to stick!  

block page-item__cta
  a.btn.btn__icon.btn__large.btn__primary(href='../pdf/The-Catbears-Stickers.pdf' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__Catbears-Stickers'); lightboxInit('subscribe')") PRINT (1)
    .btn__icon--printer
block page-item__cta--micro-text                  
  p PDF file ・ 1MB ・ 1 Printable Page

//- block page-item__info
  .page-item__info--list
    ul.bullet Here's what you'll need:
      li.bullet
        | Sticker paper 
        br
        |  &nbsp &nbsp &nbsp(Get it in every office supply store)
      li.bullet A pair of scissors        

block page-description
  .page-description
    h1 Description
    .columns
      .left-column
        p 
          | Have you ever used 
          strong Sticker Paper
          |  before? it can add a whole new dimension to your kids creative worlds! 
          br
          br
          | On your next stop to your local office supply store don't forget to buy a few sheets of sticker paper. It works on every regular printer, just place it in your printer's paper drawer and that's it! no fancy printer setup and no fuss. (You could also just use plain paper and glue)
          br
          br 
          | In this activity your kids will only need to cut around the stickers and practice their cutting skills to make colorful Catbears stickers which they can stick on everything! What fun! 
          br
          br
          | It's a simple fun activity that brings a real sense of accomplishment - They created a real sticker pack all by themselves.
      .right-column 
         img(src='../img/description-imgs/catbears-stickers__001.png', alt='DIY Stickers by The Catbears') 

