extends ./templates/item-page__gallery__sale.jade

block title
  title Catbears Stickers - The Catbears


block gallery-items
  li.gallery__item.gallery__item--1 
    img(src='../img/pages/catbears-stickers__001.png', alt='Catbears Stickers 001')
  li.gallery__item.gallery__item--2 
    img(src='../img/pages/catbears-stickers__002.png', alt='Catbears Stickers 002')
 
block main-item__title
  | DIY Catbears Stickers

block main-item__description--p
  | Making your own Catbears stickers is realy easy - just print them on <strong>Sticker Paper</strong>, cut around with scissors and you're good to stick!  

block main-item__cta
  a.btn.btn__large.btn__primary(href='../pdf/The-Catbears-Stickers.pdf' target="_blank"  onClick = "ga('send', 'event', 'Button', 'Click', 'PDF-print-stickers'); lightboxInit('subscribe')") Download FREE PDF

block main-item__cta--micro-text                  
  p PDF file ・ 1MB ・ 1 Printable Page

block main-item__info
  .main-item__info--list
    ul Here's what you'll need:
      li A Printer
      li
        | Sticker paper 
        br
        |  &nbsp &nbsp &nbsp(Get it in every office supply store)
      li A pair of scissors        

block page-description
  .page-description
    h1 Description
    .columns
      .left-column
        p 
          | Have you ever used 
          strong Sticker Paper
          |  before? it can add a whole new dimension to your kids creative worlds! 
          br
          br
          | On your next stop to your local office supply store don't forget to buy a few sheets of sticker paper. It works on every regular printer, just place it in your printer's paper drawer and that's it! no fancy printer setup and no fuss. (You could also just use plain paper and glue)
          br
          br 
          | In this activity your kids will only need to cut around the stickers and practice their cutting skills to make colorful Catbears stickers which they can stick on everything! What fun! 
          br
          br
          | It's a simple fun activity that brings a real sense of accomplishment - They created a real sticker pack all by themselves.
      .right-column 
         img(src='../img/description-imgs/catbears-stickers__001.png', alt='DIY Stickers by The Catbears') 

