extends ./templates/item-page__gallery__sale.jade

block title
  title 5 Coloring Pages - The Catbears


block gallery-items
  li.gallery__item.gallery__item--1 
    img(src='../img/pages/coloring-pages.png', alt='coloring-pages 001')
  li.gallery__item.gallery__item--2 
    img(src='../img/pages/catbears-stickers__002.png', alt='Catbears Stickers 002')
  li.gallery__item.gallery__item--3
    img(src='../img/pages/catbears-stickers__003.png', alt='Catbears Stickers 003') 
  li.gallery__item.gallery__item--4
    img(src='../img/pages/catbears-stickers__004.png', alt='Catbears Stickers 004')  
  

block main-item__title
  | 5 Coloring Pages 

block main-item__price-number
  | $1.99

block main-item__file-size 
  | 700 KB

block main-item__badges
  .info-line__badge.difficulty__badge--pencil
  .info-line__badge.age__badge--2

block main-item__description--p
  | Download a PDF with 5 coloring pages, print it out and start coloring some cute Catbears! Here's what you'll need: 

block main-item__description--ul
  li Printer
  li Color Pencils
  li Color Markers
  li A lot of Excitment!

block main-item__cta
  a.btn.btn__primary(href='../pdf/the-catbears_5-coloring-pages.pdf' download = "the-catbears_5-coloring-pages.pdf" onClick = "ga('send', 'event', 'Button', 'Click', 'PAYED__5-coloring-pages') ; lightboxShow()") Buy $1.99

block main-item__subscribe-title
  | We'll let you know when we're up
                  


