extends ./templates/item-page__gallery__sale.jade

block title
  title Cardboard Puppet Show - The Catbears


block gallery-items
  li.gallery__item.gallery__item--1 
    img(src='../img/pages/catbears-stickers__001.png', alt='Catbears Stickers 001')
  li.gallery__item.gallery__item--2 
    img(src='../img/pages/catbears-stickers__002.png', alt='Catbears Stickers 002')
  li.gallery__item.gallery__item--3
    img(src='../img/pages/catbears-stickers__003.png', alt='Catbears Stickers 003') 
  li.gallery__item.gallery__item--4
    img(src='../img/pages/catbears-stickers__004.png', alt='Catbears Stickers 004')  
     
block main-item__title
  | Felt Catbears Animals 

block main-item__price-number
  | Free PDF

block main-item__file-size 
  | 1.3 MB

block main-item__badges
  .info-line__badge.difficulty__badge--pencil
  .info-line__badge.age__badge

block main-item__description--p
  | Felt is a great material for making your ideas come to life, and it's perfect for Catbears animals! let's get started!

block main-item__description--ul
  li Felt in various colors
  li Scissors
  li Glue
  li Cardboard

block main-item__cta
  a.btn.btn__primary(href='http://google.com') Download PDF

block main-item__subscribe-title
  | Get updates on new activities
                  


