extends ./templates/item-page__img__sale.jade

block title
  title Coloring Page - The Catbears


block gallery-img
  img(src='../img/pages/coloring-pages.png', alt='Coloring Little Things')
    
block main-item__title
  | Coloring Page 

block main-item__price-number
  | Free PDF

block main-item__file-size 
  | 700 KB

block main-item__badges
  .info-line__badge.difficulty__badge--pencil
  .info-line__badge.age__badge--2

block main-item__description--p
  | Download a free PDF and start coloring some cute Catbears! Here's what you'll need: 

block main-item__description--ul
  li Printer
  li Color Pencils
  li Color Markers
  li A lot of Excitment

block main-item__cta
  a.btn.btn__primary(href='../pdf/The-Catbears-Coloring-Page.pdf' download = "The-Catbears-Coloring-Page.pdf" onClick = "ga('send', 'event', 'Button', 'Click', 'PDF-coloring-page')") Download PDF

block main-item__subscribe-title
  | We'll let you know when we're up
                  


