// coloring-book_duck-in-trouble.jade

extends ./templates/item-page__gallery__sale.jade

block title
  title Coloring Book - A Tiny Little Duck Got In Really Big Trouble - The Catbears


block gallery-items
  li.gallery__item.gallery__item--1 
    img(src='../img/pages/coloring-book_duck-in-trouble_001.png', alt='Coloring Book by The Catbears')
  li.gallery__item.gallery__item--2 
    img(src='../img/pages/coloring-book_duck-in-trouble_002.png', alt='Coloring Book by The Catbears')
  li.gallery__item.gallery__item--3
    img(src='../img/pages/coloring-book_duck-in-trouble_003.png', alt='Coloring Book by The Catbears') 
  li.gallery__item.gallery__item--4
    img(src='../img/pages/coloring-book_duck-in-trouble_004.png', alt='Coloring Book by The Catbears')    
  li.gallery__item.gallery__item--5
    img(src='../img/pages/coloring-book_duck-in-trouble_005.png', alt='Coloring Book by The Catbears')  
  

block main-item__title
  | Coloring Book - A Tiny Little Duck Got In Really Big Trouble

block main-item__description--p
  | This DIY coloring book tells the story of a little duck that didn't want to go to school. To help him you'll have to write and draw a new ending for the story.  
  br 
  br
  | When you're done coloring you'll have to cut & glue each of the pages to make your very own coloring book.   

block main-item__info
  .main-item__info--list
    br
    | Tip: This activity great also as a group activity since it includes a PDF with 28 printable coloring pages. 
    br
    ul Here's what you'll need:
      li a Printer
      li Coloring materials
      li A pair of Scissors
      li Glue
    br
    | Tag your finished book on Instagram:
    br
    a.marker__blue(href="https://www.instagram.com/explore/tags/drawcatbears/" target="_blank") #aTinyLittleDuckGotInReallyBigTrouble


block main-item__cta--micro-text                  
  p PDF file ・ 4.7MB ・ 28 Printable Pages

block main-item__cta
  a.btn.btn__large.btn__primary.btn__payed(href='../pdf/The_Catbears-a_Tiny_Little_Duck_Got_In_Really_Big_Trouble-Coloring_Book.pdf' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__book_duck-in-trouble')") Download Free PDF

//- $1.99 FREE - BUTTON TEST
//- block main-item__cta
//-   a.btn.btn__large.btn__primary.btn__payed(onClick = "ga('send', 'event', 'Button', 'Click', 'PAYED__5-coloring-pages') ; lightboxInit()") Buy $1.99
