extends ./templates/item-page__img.jade

block title
  title Felt Catbears - The Catbears


block gallery-img
    img(src='../img/pages/felt-catbears__001.png', alt='Coloring Page by The Catbears')

block main-item__title
  | Make Felt Catbears 

block main-item__description--p
  | Print these 3 instruction pages to make Catbears from Felt!  

block main-item__info
  .main-item__info--list
    ul.bullet Here's what you'll need:
      li.bullet Printer
      li.bullet Coloring materials
      li.bullet A lot of excitement!

block main-item__cta--micro-text                  
  p PDF file ・ 2MB ・ 3 Printable Pages

block main-item__cta
  a.btn.btn__large.btn__primary.btn__payed(href='../pdf/The-Catbears-5-coloring-pages.pdf' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__5-coloring-pages'); lightboxInit('subscribe')") Print


block page-description
  .page-description
    h1 Description
    .columns
      .left-column
        p 
          | Here are 3 Catbears you can make from felt - A fox, a duck and a panda bear. 
          br
          br
          | To make a felt Catbear simply print out the pages, cut the shapes and glue them on felt sheets in different colors. Then cut around the shapes again and assemble the Catbear's parts together. 
      //- .right-column 
      //-    img(src='../img/description-imgs/riddle__001.png', alt='Coloring Page by The Catbears') 
//- $1.99 FREE - BUTTON TEST
//- block main-item__cta
//-   a.btn.btn__large.btn__primary.btn__payed(onClick = "ga('send', 'event', 'Button', 'Click', 'PAYED__5-coloring-pages') ; lightboxInit()") Buy $1.99
