extends ./templates/item-page__img.jade

block title
  title Felt Catbears - The Catbears


block gallery-img
  a(href='../pdf/The-Catbears_Make-Felt-Catbears.pdf' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__IMG__felt-catbears'); lightboxInit('subscribe')")
    img(src='../img/pages/felt-catbears__001.png', alt='Felt Catbears by The Catbears')

block main-item__title
  | Make Felt Catbears 

block main-item__description--p
  | Print these 3 instruction pages to make Catbears from Felt!  

block main-item__info
  .main-item__info--list
    ul.bullet Here's what you'll need:
      li.bullet Printer
      li.bullet A pair of scissors
      li.bullet Colorful felt sheets

block main-item__cta--micro-text                  
  p PDF file ・ 500KB ・ 3 Printable Pages

block main-item__cta
  a.btn.btn__large.btn__primary.btn__payed(href='../pdf/The-Catbears_Make-Felt-Catbears.pdf' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__felt-catbears'); lightboxInit('subscribe')") PRINT


block page-description
  .page-description
    h1 Description
    .columns
      .left-column
        p Here are 3 Catbears you can make using felt, A fox, a duck and a panda bear. 
        | 
        br
        strong 
          h2 To make a felt Catbear:
        ol
          li Print out the pages
          li Cut around the shapes
          li Glue the shapes on colorful felt sheets
          li Cut the shapes again this time exactly on the lines.
          li Assemble and glue the parts together to create your felt Catbear.
        p
          | This is a really fun activity that focuses on the Cutting skill. your kids will love creating a felt Catbear by themselves.
      .right-column      
         iframe.video(src='https://www.youtube.com/embed/C-VCCDoCjdc?rel=0&;showinfo=0', frameborder='0', allowfullscreen='')
         img(src='../img/description-imgs/description__felt_001.png', alt='Felt Catbears by The Catbears')

//- block share-banner__text
//-   //- | Share your book and the ending you've made with the Catbears community on Instagram:     
//- block share-banner__cta  
//-   //- a.marker__blue(href="https://www.instagram.com/explore/tags/atinylittleduckgotinreallybigtrouble/" target="_blank") #aTinyLittleDuckGotInReallyBigTrouble    
