extends ./templates/hp.jade

block title
  title The Catbears - Printable Activities

block ranni
  .box
    a(href='ranni-coloring-page.html')
      .image-container
        img(src="../img/thumbs/thumb_ranni-color-page.png", alt="Ranni's Red Ballon - A Coloring page by The Catbears")
        .badge-on-thumb.badge--pdf-icon
      h2 Ranni's Red Ballon - Coloring Page
      p Free PDF ・ 1 Printable Page

block felt-catbears
  .box
    a(href='felt-catbears.html')
      .image-container
        img(src='../img/thumbs/thumb_felt-catbears.png', alt='Make Felt Catbears')
        .badge-on-thumb.badge--pdf-icon
      h2 Felt Catbears
      p Free PDF ・ 3 Printable Pages


block coloring-book-duck
  .box
    a(href='coloring-book_duck-in-trouble.html')
      .image-container
        img(src='../img/thumbs/thumb_duck-in-trouble.png', alt='Coloring book by The Catbears')
        .badge-on-thumb.badge--pdf-icon
      h2 DIY Coloring Book
      p Free PDF ・ 28 Printable Pages

block riddle-games
  .box
    a(href='riddle-games.html')
      .image-container
        img(src='../img/thumbs/thumb_riddle-games.png', alt='riddle-games by The Catbears')
        .badge-on-thumb.badge--pdf-icon
      h2 Riddle Games
      p Free PDF ・ 4 Printable Pages

block coloring-pages
  .box
    a(href='5-coloring-pages_catbears.html')
      .image-container
        img(src='../img/thumbs/thumb_coloring-pages.png', alt='5-coloring-pages')
        .badge-on-thumb.badge--pdf-icon
        //- .badge-on-thumb.difficulty__badge--pencil
      h2 Coloring Pages
      p Free PDF ・ 5 Printable Pages
      //- p $1.99

block learn-to-draw
  .box
    a(href='learn-to-draw.html')
      .image-container
        img(src='../img/thumbs/thumb_learn-to-draw.png', alt='Learn To Draw - The Catbears')
        .badge-on-thumb.badge--pdf-icon
        //- .badge-on-thumb.difficulty__badge--pencil
      h2 Learn To Draw A Catbear
      p Free PDF ・ 5 Printable Pages
      //- p $1.99

block iMessage-stickers
  .box
    a(href='ios-stickers.html')
      .image-container
        img(src='../img/thumb_ios-stickers.png', alt='Fox & Duck iMessage Stickers by The Catbears')
        .badge-on-thumb.badge--apple
      h2 Free Stickers for iMessage 
      p Free on the Apple App Store 

block society6
  .box
    a(href='https://society6.com/thecatbears' target="_blank"  onclick = "ga('send', 'event', 'Button', 'Click', 'thumb_s6')")
      .image-container
        img(src='../img/society6.gif', alt='The Catbears on Society6')
        .badge-on-thumb.badge--s6
      h2 Catbears Store
      p The Catbears on Society6

block catbears-stickers
  .box.box3
    a(href='catbears-stickers.html')
      .image-container
        img(src='../img/thumbs/thumb_stickers.png', alt='catbears stickers')
        .badge-on-thumb.badge--pdf-icon
        //- .badge-on-thumb.difficulty__badge--scissors
      h2 Printable Stickers
      p Free PDF ・ 1 Printable Page

block instagram
  .box
    a(href='https://www.instagram.com/thecatbears/' target="_blank" onclick = "ga('send', 'event', 'Button', 'Click', 'thumb_instagram')")
      .image-container
        img(src='../img/thumb_instagram-page.png', alt='Catbears on Instagram')
        .badge-on-thumb.badge--instagram
      h2 The Catbears on Instagram
      p Check out our Instagram profile

block box-spacer
  .box.box-spacer


//- block box7
//-   .box
//-     a(href='coloring-pages.html')
//-       .image-container
//-         img(src='../img/thumb_coloring-pages.png', alt='Coloring page')
//-         .badge-on-thumb.difficulty__badge--pencil
//-       h2 Coloring Page
//-       p Download a free PDF and start coloring some cute Catbears! 
