extends ./templates/hp.jade

block title
  title The Catbears - Kids Activities

block box8
  .box
    a(href='https://society6.com/thecatbears' target="_blank"  onclick = "ga('send', 'event', 'Button', 'Click', 'thumb_s6')")
      .image-container
        img(src='../img/society6.gif', alt='The Catbears on Society6')
        .badge-on-thumb.badge--s6
      h2 Catbears Store
      p The Catbears on Society6

block box7
  .box
    a(href='ios-stickers.html')
      .image-container
        img(src='../img/thumb_ios-stickers.png', alt='Coloring page')
        .badge-on-thumb.badge--apple
      h2 Free Stickers for iMessage 
      p Free for a limited time 

block box6
  .box
    a(href='5-coloring-pages_catbears.html')
      .image-container
        img(src='../img/thumb_coloring-pages.png', alt='5-coloring-pages')
        .badge-on-thumb.badge--pdf-icon
        //- .badge-on-thumb.difficulty__badge--pencil
      h2 5 Printable Coloring Pages
      p Free PDF
      //- p $1.99

block box5
  .box.box3
    a(href='catbears-stickers.html')
      .image-container
        img(src='../img/thumb_catbears-stickers.png', alt='catbears stickers')
        .badge-on-thumb.badge--pdf-icon
        //- .badge-on-thumb.difficulty__badge--scissors
      h2 Printable Stickers
      p Free

block box4
  .box
    a(href='https://www.instagram.com/thecatbears/' target="_blank" onclick = "ga('send', 'event', 'Button', 'Click', 'thumb_instagram')")
      .image-container
        img(src='../img/thumb_instagram-page.png', alt='Catbears on Instagram')
        .badge-on-thumb.badge--instagram
      h2 The Catbears on Instagram
      p Check out our Instagram profile

block box-spacer
  .box.box-spacer


//- block box7
//-   .box
//-     a(href='coloring-pages.html')
//-       .image-container
//-         img(src='../img/thumb_coloring-pages.png', alt='Coloring page')
//-         .badge-on-thumb.difficulty__badge--pencil
//-       h2 Coloring Page
//-       p Download a free PDF and start coloring some cute Catbears! 
