extends ./templates/home-page__layout.jade

block title
  title The Catbears

block box1
  .box
    a(href='puppet-show.html')
      .image-container
        img(src='../img/thumb_cardboard-puppet-show.png', alt='cardboard-puppet-show', style='width:336px;height:336px;')
        .badge-on-thumb.difficulty__badge--scissors
      h2 Cardboard Puppet Show
      p Build a simple cardboard puppet show from everyday materials.

block box2
  .box
    a(href='draw-a-duck.html')
      .image-container
        img(src='../img/thumb_draw-a-duck.png', alt='thumb_draw-a-duck', style='width:336px;height:336px;')
        .badge-on-thumb.difficulty__badge--pencil
      h2 Draw A Duck
      p What’s the simplest way to draw a duck? it’s super easy and fun!

block box3
  .box.box3
    a(href='strawberry.html')
      .image-container
        img(src='../img/thumb_strawberry-graffity.png', alt='thumb_strawberry-graffity', style='width:336px;height:336px;')
        .badge-on-thumb.difficulty__badge--scissors
      h2 Strawberry Street Art
      p Learn the basics of graffity, make a stencil and a cool trick with plastacine.

block box4
  .box
    a(href='coloring-little-things.html')
      .image-container
        img(src='../img/thumb_coloring-little-things.png', alt='coloring-little-things', style='width:336px;height:336px;')
        .badge-on-thumb.difficulty__badge--pencil
      h2 Coloring Little Things
      p Print your coloring ./and let the coloring begin! 

block box5
  .box
    a(href='felt.html')
      .image-container
        img(src='../img/thumb_felt.png', alt='thumb_felt', style='width:336px;height:336px;')
        .badge-on-thumb.difficulty__badge--scissors
      h2 Make Felt Catbears
      p Felt is a great material for making your ideas come to life.

block box6
  .box.box6
    a(href='letters.html')
      .image-container
        img(src='../img/thumb_letters.png', alt='thumb_letters', style='width:336px;height:336px;')
        .badge-on-thumb.difficulty__badge--pencil
      h2 Let's Draw Some Letters
      p
        | So many shapes! learn the Alphabet with drawing and coloring the all the letters.

block box7
  .box
    a(href='draw-a-duck.html')
      .image-container
        img(src='../img/thumb_draw-a-duck.png', alt='thumb_draw-a-duck', style='width:336px;height:336px;')
        .badge-on-thumb.difficulty__badge--pencil
      h2 Draw A Duck
      p What’s the simplest way to draw a duck? it’s super easy and fun!
