extends ./templates/hp.jade

block title
  title The Catbears - Kids Activities


block box7
  .box
    a(href='ios-stickers.html')
      .image-container
        img(src='../img/thumb_ios-stickers.png', alt='Coloring page')
      h2 Free Stickers for iMessage 
      p Get your Fox & Duck Stickers for iMessage! Free for a limited time  

block box6
  .box
    a(href='coloring-pages.html')
      .image-container
        img(src='../img/thumb_coloring-pages.png', alt='coloring-pages')
        .badge-on-thumb.difficulty__badge--pencil
      h2 5 Coloring Pages
      p Get your crayons ready to color some cute Catbears!

block box5
  .box.box3
    a(href='catbears-stickers.html')
      .image-container
        img(src='../img/thumb_catbears-stickers.png', alt='catbears stickers')
        .badge-on-thumb.difficulty__badge--scissors
      h2 Catbears Stickers
      p Help us spread the word! print out some cool stickers and share with your friends!


block box4
  .box
    a(href='https://www.instagram.com/thecatbears/' target="_blank" onclick = "ga('send', 'event', 'Button', 'Click', 'thumb_instagram')")
      .image-container
        img(src='../img/thumb_instagram-page.png', alt='Catbears on Instagram')
        .badge-on-thumb.badge--instagram
      h2 Catbears on Instagram
      p Check out our Instagram profile! Don't forget to follow us!

block box-spacer
  .box.box-spacer


//- block box7
//-   .box
//-     a(href='coloring-pages.html')
//-       .image-container
//-         img(src='../img/thumb_coloring-pages.png', alt='Coloring page')
//-         .badge-on-thumb.difficulty__badge--pencil
//-       h2 Coloring Page
//-       p Download a free PDF and start coloring some cute Catbears! 
