extends ./templates/home-page__layout.jade

block title
  title The Catbears

block box7
  .box
    a(href='puppet-show.html')
      .image-container
        img(src='../img/thumb_cardboard-puppet-show.png', alt='cardboard-puppet-show')
        .badge-on-thumb.difficulty__badge--scissors
      h2 Cardboard Puppet Show
      p Build a simple cardboard puppet show from everyday materials.

block box6
  .box
    a(href='drawaduck.html')
      .image-container
        img(src='../img/thumb_draw-a-duck.png', alt='thumb_draw-a-duck')
        .badge-on-thumb.difficulty__badge--pencil
      h2 Draw A Duck
      p What’s the simplest way to draw a duck? it’s super easy and fun!

block box5
  .box.box3
    a(href='strawberrygraffiti.html')
      .image-container
        img(src='../img/thumb_strawberry-graffity.png', alt='thumb_strawberry-graffity')
        .badge-on-thumb.difficulty__badge--scissors
      h2 Strawberry Street Art
      p Learn the basics of graffity, make a stencil and a cool trick with plastacine.

block box4
  .box
    a(href='coloring-little-things.html')
      .image-container
        img(src='../img/thumb_coloring-little-things.png', alt='coloring-little-things')
        .badge-on-thumb.difficulty__badge--pencil
      h2 Coloring Little Things
      p Print your coloring ./and let the coloring begin! 

block box3
  .box
    a(href='felt.html')
      .image-container
        img(src='../img/thumb_felt.png', alt='thumb_felt')
        .badge-on-thumb.difficulty__badge--scissors
      h2 Make Felt Catbears
      p Felt is a great material for making your ideas come to life.

block box2
  .box.box6
    a(href='letters.html')
      .image-container
        img(src='../img/thumb_letters.png', alt='thumb_letters')
        .badge-on-thumb.difficulty__badge--pencil
      h2 Let's Draw Some Letters
      p
        | So many shapes! learn the Alphabet with drawing and coloring the all the letters.

block box1
  .box
    a(href='draw-a-duck.html')
      .image-container
        img(src='../img/thumb_draw-a-duck.png', alt='thumb_draw-a-duck')
        .badge-on-thumb.difficulty__badge--pencil
      h2 Draw A Duck
      p What’s the simplest way to draw a duck? it’s super easy and fun!

block box-spacer
  .box.box-spacer