extends ./templates/hp-fullscreen.jade

block title
  title The Catbears - Printable Activities


block poster-fullscreen
  .poster-fullscreen
    .poster-fullscreen__bg-img.rainbow-animation-slow
    .layout-850px
      .fullscreen__content-container
        .fullscreen__logo
        h1.fullscreen__title.noMarkup Craft Something Awesome 
      .fullscreen__object
        .fullscreen__object--img
    .poster-bottom

block about-catbears
  p.about-catbears 
    strong Welcome to The Catbears! 
    | We’re helping kids develop their creativity and make their imagination come to life. Try one of our craft projects!
    br
    br  
    strong Our goal 
    | is to spark creative thinking using fun printable activities that encourage children to think and create their own worlds. Why printables? When technology is taking such a big part of our lives we feel it's important to get kids in and out of the digital world.

block grid-title
  .grid-title
    h1 Explore Our Projects
    .title-underline






//------------ GRID BOXES ----

block greeting-card
  .box
    a(href='greeting-card.html' onClick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb__Greeting-Card')")
      .image-container
        img(src="../img/thumbs/thumb_greeting-card.png", alt="Greeting Card Fox & Duck - by The Catbears")
        .thumb-overlay-container
          //- .badge-on-thumb.badge--scissors-icon
          //- .badge-on-thumb.badge--glue-icon
          .box-text-container
            h2 DIY Greeting Card
            p Make

block sunset
  .box
    a(href='sunset.html' onClick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb__sunset')")
      .image-container
        img(src="../img/thumbs/thumb_sunset.png", alt="Greeting Card Fox & Duck - by The Catbears")
        .thumb-overlay-container
          //- .badge-on-thumb.badge--scissors-icon
          //- .badge-on-thumb.badge--glue-icon
          .box-text-container
            h2 Paper Sunset
            p Make

block maker-kit
  .box
    a(href='maker-kit.html' onClick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb__maker-kit')")
      .image-container
        img(src="../img/thumbs/thumb_maker-kit.png", alt="Maker-Kit by The Catbears")
        .thumb-overlay-container
          //- .badge-on-thumb.badge--scissors-icon
          //- .badge-on-thumb.badge--glue-icon
          .box-text-container
            h2 Maker Kit
            p Make



block make-a-fox
  .box
    a(href='felt-catbears.html' onClick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb__felt-catbears')")
      .image-container
        img(src='../img/thumbs/thumb_felt-catbears.png', alt='Make Felt Catbears')
        .thumb-overlay-container
          //- .badge-on-thumb.badge--scissors-icon
          //- .badge-on-thumb.badge--glue-icon
          .box-text-container
            h2 Felt Catbears
            p Make

block coloring-pages
  .box
    a(href='5-coloring-pages_catbears.html' onClick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb__coloring-pages')")
      .image-container
        img(src='../img/thumbs/thumb_coloring-pages.png', alt='5-coloring-pages')
        .thumb-overlay-container
          //- .badge-on-thumb.badge--crayon-icon  
          .box-text-container
            h2 Coloring Pages
            p Color
//- block duck-boat
//-   .box
//-     a(href='duck-boat.html' onClick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb__duck-boat')")
//-       .image-container
//-         img(src="../img/thumbs/thumb_duck-boat.png", alt="Paper Duck and Boat - The Catbears")
//-         //- .badge-on-thumb.badge--pdf-icon
//-       .box-text-container
//-         h2 Pop Ups - Ducky on a boat
//-         p Free PDF ・ 1 Printable Page



//- block finger-puppets
//-   .box
//-     a(href='finger-puppets.html' onClick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb__finger-puppets')")
//-       .image-container
//-         img(src="../img/thumbs/thumb_finger-puppets.png", alt="Finger Puppets by The Catbears")
//-         //- .badge-on-thumb.badge--pdf-icon
//-       .box-text-container
//-         h2 Finger Paper Puppets
//-         p Free PDF ・ 2 Printable Page

//- block ranni
//-   .box
//-     a(href='ranni-coloring-page.html' onClick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb__ranni-coloring-page')")
//-       .image-container
//-         img(src="../img/thumbs/thumb_ranni-color-page.png", alt="Ranni's Red Ballon - A Coloring page by The Catbears")
//-         //- .badge-on-thumb.badge--pdf-icon
//-       .box-text-container
//-         h2 Ranni's Red Ballon - Coloring Page
//-         p Free PDF ・ 1 Printable Page

//- block coloring-book-duck
//-   .box
//-     a(href='coloring-book_duck-in-trouble.html')
//-       .image-container
//-         img(src='../img/thumbs/thumb_coloring-book_duck-in-trouble.gif', alt='Coloring book by The Catbears' onClick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb__coloring-book-duck')")
//-         //- .badge-on-thumb.badge--pdf-icon
//-       .box-text-container
//-         h2 DIY Coloring Book
//-         p Free PDF ・ 28 Printable Pages

//- block riddle-games
//-   .box
//-     a(href='riddle-games.html' onClick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb__riddle-games')")
//-       .image-container
//-         img(src='../img/thumbs/thumb_riddle-games.png', alt='riddle-games by The Catbears')
//-         //- .badge-on-thumb.badge--pdf-icon
//-       .box-text-container
//-         h2 Riddle Games
//-         p Free PDF ・  4 Printable Pages



//- block learn-to-draw
//-   .box
//-     a(href='learn-to-draw.html' onClick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb__learn-to-draw')")
//-       .image-container
//-         img(src='../img/thumbs/thumb_learn-to-draw.png', alt='Learn To Draw - The Catbears')
//-         .thumb-overlay-container
//-           .badge-on-thumb.badge--pencil-icon  
//-           .box-text-container
//-             h2 Draw a Duck
//-             a(href='learn-to-draw.html' onClick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb-LINK__Learn-how__learn-to-draw')") Make

//- block iMessage-stickers
//-   .box
//-     a(href='ios-stickers.html' onClick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb__iMessage-stickers')")
//-       .image-container
//-         img(src='../img/thumb_ios-stickers.png', alt='Fox & Duck iMessage Stickers by The Catbears')
//-         //- .badge-on-thumb.badge--apple
//-       .box-text-container
//-         h2 Free Stickers for iMessage 
//-         p Free on the Apple App Store 

//- block society6
//-   .box
//-     a(href='https://society6.com/thecatbears' target="_blank"  onclick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb__s6')")
//-       .image-container
//-         img(src='../img/society6.gif', alt='The Catbears on Society6')
//-         .badge-on-thumb.badge--s6
//-       .box-text-container
//-         h2 Catbears Store
//-         p The Catbears o  n Society6

//- block catbears-stickers
//-   .box.box3
//-     a(href='catbears-stickers.html' onClick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb__catbears-stickers')")
//-       .image-container
//-         img(src='../img/thumbs/thumb_stickers.png', alt='catbears stickers')
//-         .thumb-overlay-container
//-           .badge-on-thumb.badge--scissors-icon
//-           .box-text-container
//-               h2 Catbears Stickers
//-               a(href='catbears-stickers.html' onClick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb-LINK__Learn-how__catbears-stickers')") Make

//- block instagram
//-   .box
//-     a(href='https://www.instagram.com/thecatbears/' target="_blank" onclick = "ga('send', 'event', 'Button', 'Click', 'HP-Thumb__instagram')")
//-       .image-container
//-         img(src='../img/thumb_instagram-page.png', alt='Catbears on Instagram')
//-         .badge-on-thumb.badge--instagram
//-       .box-text-container
//-         h2 The Catbears on Instagram
//-         p Check out our Instagram profile

block box-spacer
  .box.box-spacer

