extends ./templates/item-page__img.jade

block title
  title Catbears Stickers - The Catbears


block gallery-img
  img(src='../img/pages/instagram-page.png', alt='Coloring Little Things')
    
block hero__title
  | Catbears on Instagram

block hero__description--p
  | Want to see more Catbears? Check out our Instagram page! it's full of cuteness and fun! Don't forget to follow us and share our page with your friends ❤ 


block hero__cta
  a.btn.btn__large.btn__primary(href='https://www.instagram.com/thecatbears/' target="_blank" onclick = "ga('send', 'event', 'Button', 'Click', 'instagram'); lightboxInit('subscribe')") Visit Instagram

block hero__subscribe-title
  | We'll let you know when we're up
                  


