extends ./templates/item-page__img.jade

block title
  title Catbears Stickers - The Catbears


block gallery-img
  img(src='../img/pages/instagram-page.png', alt='Coloring Little Things')
    
block main-item__title
  | Catbears on Instagram

block main-item__description--p
  | Want to see more Catbears? Check out our Instagram page! it's full of cuteness and fun! Don't forget to follow us and share our page with your friends ❤ 


block main-item__cta
  a.btn.btn__large.btn__primary(href='https://www.instagram.com/thecatbears/' target="_blank" onclick = "ga('send', 'event', 'Button', 'Click', 'instagram')") Visit Instagram

block main-item__subscribe-title
  | We'll let you know when we're up
                  


