extends ./templates/item-page__img.jade

block title
  title Fox & Duck Stickers for iMessage - The Catbears


block gallery-img
  img(src='../img/pages/ios-stickers.png', alt='Coloring Little Things')
    
block page-item__title
  | Fox & Duck Stickers for iMessage

block page-item__description--p
  | Cute stickers alert! here are 30 stickers to send to your best buddies and tell them exactly how you feel. Get them all for FREE for a limited time on the Apple app store.

block page-item__cta
  a.btn.btn__large.btn__primary(href='https://itunes.apple.com/us/app/fox-duck-by-the-catbears/id1158843136?ls=1&mt=8#' target="_blank" onclick = "ga('send', 'event', 'Button', 'Click', 'ios-stickers_Fox-and-Duck'); lightboxInit('subscribe')") Fox & Duck Stickers

block page-item__subscribe-title
  | We'll let you know when we're up
                  

