extends ./templates/item-page__gallery__sale.jade

block title
  title Learn To Draw A Catbear - The Catbears


block gallery-items
  li.gallery__item.gallery__item--1 
    img(src='../img/pages/learn-to-draw_001.png', alt='Learn To Draw by The Catbears')
  li.gallery__item.gallery__item--2 
    img(src='../img/pages/learn-to-draw_002.png', alt='Learn To Draw by The Catbears')
  li.gallery__item.gallery__item--3
    img(src='../img/pages/learn-to-draw_003.png', alt='Learn To Draw by The Catbears') 
  //- li.gallery__item.gallery__item--4
  //-   img(src='../img/pages/catbears-stickers__004.png', alt='Catbears Stickers 004')  
  

block main-item__title
  | Learn To Draw A Catbear 

block main-item__description--p
  | What’s the easiest way to draw a duck? what about a Panda bear? Try it! it’s super easy and fun! 
 

block main-item__info
  .main-item__info--list
    ul.bullet Here's what you'll need:
      li.bullet A Printer
      li.bullet A Pencil
      li.bullet An Eracer
      li.bullet Color Markers

block main-item__cta--micro-text                  
  p PDF file ・ 700KB ・ 5 Printable Pages

block main-item__cta
  a.btn.btn__large.btn__primary.btn__payed(href='../pdf/The-Catbears-Learn-To-Draw.pdf' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__Learn-To-Draw') ; lightboxInit('subscribe')" ) Download Free PDF

block page-description
  .page-description
     h1 Description
     .columns
       .left-column
          p 
           | Learning the basics of illustration in a fun and educational way. 
           br
           | We start by learning the basic shapes (circle, pear, banana), the child see how we use these as our "building blocks" for each of the illustrations.
           br
           br
           | After practicing a few examples he's asked to try and invent a Catbear by himself, choosing a building block shape and then drawing the finished illustration. 
           br
           br
           | This is a great activity that combines learning a skill that will help him in his future drawings and help him express himself, with sparking his creative thinking when he creates a new Catbear all by himself.
       .right-column     
         iframe.video-square(src='https://www.youtube.com/embed/DQiAIpuLQIE?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
  
//- $1.99 FREE - BUTTON TEST
//- block main-item__cta
//-   a.btn.btn__large.btn__primary.btn__payed(onClick = "ga('send', 'event', 'Button', 'Click', 'PAYED__5-coloring-pages') ; lightboxInit()") Buy $1.99