extends ./templates/item-page__img__sale.jade

block title
  title Let's Draw Some Letters - The Catbears


block gallery-img
  img(src='../img/pages/letters.png', alt='letters')
    
block page-item__title
  | Let's Draw Some Letters

block page-item__price-number
  | Free PDF

block page-item__file-size 
  | 1.3 MB

block page-item__badges
  .info-line__badge.difficulty__badge--scissors
  .info-line__badge.age__badge

block page-item__description--p
  | So many shapes! learn the Alphabet with drawing and coloring the all the letters.

block page-item__description--ul
  li Felt in various colors
  li Scissors
  li Glue
  li Cardboard

block page-item__cta
  a.btn.btn__primary(href='http://google.com') Download PDF

block page-item__subscribe-title
  | Get updates on new activities
                  


