extends ./templates/item-page__img__sale.jade

block title
  title Cardboard Puppet Show - The Catbears

block gallery-img
  img(src='../img/pages/cardboard-puppetshow_large.png', alt='cardboard-puppetshow')
    
block hero__title
  | Cardboard Puppet Show 

block hero__price-number
  | Free PDF

block hero__file-size 
  | 1.3 MB
53
block hero__badges
  .info-line__badge.difficulty__badge--scissors
  .info-line__badge.age__badge

block hero__description--p
  | Build a simple cardboard puppet show from everyday materials, it's really simple and there's no end to what you can do!  

block hero__description--ul
  li Cardboard
  li Scissors
  li Glue
  li color pencils

block hero__cta
  a.btn.btn__primary(href='http://google.com') Download PDF

block hero__subscribe-title
  | Get updates on new activities
                  

block box3
  .box
    a(href='puppet-show.html')
      .image-container
        img(src='../img/thumb_cardboard-puppet-show.png', alt='cardboard-puppet-show')
        .badge-on-thumb.difficulty__badge--scissors
      h2 Cardboard Puppet Show
      p Build a simple cardboard puppet show from everyday materials.

block box2
  .box
    a(href='drawaduck.html')
      .image-container
        img(src='../img/thumb_draw-a-duck.png', alt='thumb_draw-a-duck')
        .badge-on-thumb.difficulty__badge--pencil
      h2 Draw A Duck
      p What’s the simplest way to draw a duck? it’s super easy and fun!

block box1
  .box.box3
    a(href='strawberrygraffiti.html')
      .image-container
        img(src='../img/thumb_strawberry-graffity.png', alt='thumb_strawberry-graffity')
        .badge-on-thumb.difficulty__badge--scissors
      h2 Strawberry Street Art
      p Learn the basics of graffity, make a stencil and a cool trick with plastacine.



block box-spacer
  .box.box-spacer
