extends ./templates/item-page__img.jade

block title
  title Ranni's Red Ballon - The Catbears

block gallery-img
    img(src='../img/pages/ranni-coloring-page__001.png', alt='Coloring Page by The Catbears')

block main-item__title
  | Ranni's Red Ballon - A Coloring Page 

block main-item__description--p
  | Download a PDF with 5 coloring pages, print it out and start coloring some cute Catbears!  

block main-item__info
  .main-item__info--list
    ul.bullet Here's what you'll need:
      li.bullet Printer
      li.bullet Coloring materials
      li.bullet A lot of excitement!

block main-item__cta--micro-text                  
  p PDF file ・ 2MB ・ 5 Printable Pages

block main-item__cta
  a.btn.btn__large.btn__primary.btn__payed(href='../pdf/The-Catbears-5-coloring-pages.pdf' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__5-coloring-pages'); lightboxInit('subscribe')") Print

block page-description
  .page-description
    h1 Description
    .columns
      .left-column
        p 
          | Have you ever used 
          strong Sticker Paper
          |  before? it can add a whole new dimension to your kids creative worlds! 
          br
          br
          | On your next stop to your local office supply store don't forget to buy a few sheets of sticker paper. It works on every regular printer, just place it in your printer's paper drawer and that's it! no fancy printer setup and no fuss. (You could also just use plain paper and glue)
          br
          br 
          | In this activity your kids will only need to cut around the stickers and practice their cutting skills to make colorful Catbears stickers which they can stick on everything! What fun! 
          br
          br
          | It's a simple fun activity that brings a real sense of accomplishment - They created a real sticker pack all by themselves.
      .right-column 
         img(src='../img/description-imgs/catbears-stickers__001.png', alt='DIY Stickers by The Catbears') 

