extends ./templates/item-page__img.jade

block title
  title Ranni's Red Ballon - The Catbears

block gallery-img
  .img-fit-container
    a(href='../pdf/The-Catbears_Ranni-Coloring-Page.pdf' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__IMG__ranni'); lightboxInit('subscribe')")
      img(src='../img/pages/ranni-coloring-page__001.png', alt="Ranni's Coloring Page by The Catbears")


    

block page-item__title
  | Ranni's Red Balloon - A coloring page that can change the world

block page-item__description--p
  | By coloring and sharing this coloring page your children take part in a true noble cause and learn an important life lesson.   

block page-item__info
  .page-item__info--list
    ul.bullet Here's what you'll need:
      li.bullet Printer
      li.bullet Coloring materials

block page-item__cta--micro-text                  
  p PDF file ・ 200KB ・ 1 Printable Pages

block page-item__cta
  a.btn.btn__large.btn__primary.btn__payed(href='../pdf/The-Catbears_Ranni-Coloring-Page.pdf' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__ranni'); lightboxInit('subscribe')") Print

block page-description
  .page-description
    h1 Description
    .columns
      .left-column
        h2 How can a coloring page change the world.
        br
        p
          strong "Ranni's Wish" 
          | is an association that works to help people that suffer from genetic diseases and raise awareness.
          br
          br  
          | In the memory of Ranni, children all over the world send red balloons to the air on Ranni's birthday, to help raise awareness and tell her story.
          br
          br
          | We believe our kids should know they have the power to make the world a better place even from a young age - it's a responsibility we all carry, not only the grown ups.
          br
          br 
          | After coloring this page, share it on Instagram, Facebook and Twitter with the hash tag 
          a(href="https://www.facebook.com/search/top/?q=%234ranni" target="_blank")'#4ranni'  
          | and help this association reach more people.
          br
          br
          | To read more about the association visit "Ranni's Wish" 
          a(href="https://www.facebook.com/ranniswish/" target="_blank")  Facebook page
          | .

      .right-column 
         img(src='../img/description-imgs/ranni.jpg', alt='Rannis wish The Catbears') 


block share-banner__text
  | Share your page on Instagram, Facebook and Twitter :     
block share-banner__cta  
  a.marker__blue(href="https://www.facebook.com/ranniswish/" target="_blank") #4ranni    

