doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='./css/styles.css')
    link(rel='stylesheet', type='text/css', href='./css/mailchimp-form.css')
    link(rel='stylesheet', type='text/css', href='./css/join-us.css')
  body
    #coast2coast--centered
      include ./include/join-us.jade