// about--israel.jade

extends ../templates/static-page.jade

block head
  link(href='https://fonts.googleapis.com/css?family=Schoolbell', rel='stylesheet')
  link(rel='stylesheet', type='text/css', href='../css/israel.css')
  link(href='https://fonts.googleapis.com/css?family=Amatica+SC|Varela+Round', rel='stylesheet')


block title
  title עלינו - The Catbears

block Hero 
    .hero
        .nav
           a.back-btn(href='../israel') <span class="underline"> לדף הבית</span>

        .hero__overlay--container
            .hero__logo--overlay

block page-content
   #content-container
       .section.about-us
            h1 
              strong יצירתיות 
              | - סביבה בה מותר לטעות
            p הקטברז היא סביבה בטוחה בה אנו חופשיים ללכת לאן שהדמיון ירצה לקחת אותנו. באמצעות פעילויות מודפסות אנו מנסים לעודד חשיבה יצירתית ומחוץ לקופסה וזאת בכדי לעזור לילדים לבטא את עולמם היחודי והקסום.
        .section.section-thumbnail
            .thumb__img.thumb__img--left.thumb__img--activity
            .thumb__text
                p בכל פעילות נלמד איך ליצור משהו חדש ונתרגל את מיומנויות היצירה - גזירה, הדבקה, צביעה.. 
        .section.section-thumbnail
            .thumb__img.thumb__img--right.thumb__img--your-own
            .thumb__text
                p מיד לאחר מכן אנו מבקשים מהילדים ליצור משהו חדש באמצעות הכלים שהם רכשו, ובכך להיות מעורבים בתהליך החשיבה היצירתית. 
        .section
            h1 מדוע פעילויות מודפסות
            p 
              | הטכנולוגיה לוקחת חלק גדול ומשמעותי בחייהם של ילדנו. אנו מאמינים שהדרך למצא את האיזון בין העולם הדיגיטלי לעולם האמיתי היא כשהילד 
              strong נכנס ויוצא 
              | מהעולם הדיגיטלי - ולא אחד על חשבון השני. ולכן כל הפעילויות שלנו הן פעילויות שניתן להדפיס והיצירה נעשת בעולם האמיתי, ובנוסף אנו מעודדים אותם לשתף את היצירות שלהם עם הקהילה, לקבל פידבק ואפילו ליצור יחד דרך הרשת. וכך הם לומדים כבר מגיל צעיר שביכולתם להשפיע על העולם.
        .section.section-note
            h2.centered אתם יכולים לעזור
            .section-note__text-container
                p.bold
                  | כדי ליצור את הפעילויות הכי טובות לילדים אנחנו צריכים את הפידבק שלכם. 
                  br
                  a.bold(href="../israel") נסו את הפעילויות שלנו 
                  | וכתבו לנו איך הילדים הגיבו לפעילויות - מה הם הכי אהבו, והאם היה משהו שהפריע או שעמם אותם.
                a(href="mailto:catbearsteam@gmail.com?subject=Feedback for The Catbears&body=Hey Catbears, Here's my feedback for the activity ________________ :", target='_top').btn.btn__large.btn__primary.btn__note.btn__note--feedback שלחו לנו פידבק
            .separator
            .section-note__text-container
                p.strong עזרו לנו לגדול
                p שתפו את הקטברז ברשתות חברתיות, עזרו לנו להגיע לקהל גדול יותר של אנשים.
                .note__social-buttons 
                    a.btn.btn__large.btn__primary.btn__note.btn__note--social(href='https://www.instagram.com/thecatbears/', target='_blank' onClick = "ga('send', 'event', 'Button', 'Click', 'About__instagram')")
                        img(src='../img/about/instagram_white.png', alt='instagram', style='width:28px;height:28px;')
                    a.btn.btn__large.btn__primary.btn__note.btn__note--social(href='https://www.facebook.com/theCatbears/', target='_blank' onClick = "ga('send', 'event', 'Button', 'Click', 'About__facebook')")
                        img(src='../img/about/facebook_white.png', alt='logo-footer', style='width:28px;height:28px;')
                    a.btn.btn__large.btn__primary.btn__note.btn__note--social(href='https://twitter.com/intent/tweet?text=Check%20out%20this%20super%20cute%20website%21%20www.catbears.com%20&source=clicktotweet&related=clicktotweet', target='_blank' onClick = "ga('send', 'event', 'Button', 'Click', 'About__tweeter')")
                        img(src='../img/about/twitter_white.png', alt='logo-footer', style='width:28px;height:28px;')
        .section
            h1.quote 
              strong יצירתיות
              |  היא אחריות
            p אנו מאמינים שכל ילד נולד יצירתי ובכך יצירתיות היא משהו שלא ניתן ללמוד, אך היא משהו שניתן לדכא אם לא נשמור עליה ונזין אותה. ולכן הקמנו את הקטברז - בכדי ליצור סביבה לילדים בכל העולם שתגן על היצירתיות שלהם ותעזור להם לפתח את עולמם האישי.
        .section
            .signature
                h1 תודה רבה
                p צוות הקטברז


block footer
  //- include ../include/footer.jade 
  //- include ../include/page-bottom-scripts.jade



