doctype html
html
  head
    include ../include/page-head-data.jade
    link(rel='stylesheet', type='text/css', href='../css/hp-fullscreen.css')
    link(rel='stylesheet', type='text/css', href='../css/poster.css')
    link(rel='stylesheet', type='text/css', href='../css/grid.css')  
    link(rel='stylesheet', type='text/css', href='../css/mailchimp-form.css')
    link(rel='stylesheet', type='text/css', href='../css/join-us.css')
    link(href='https://fonts.googleapis.com/css?family=Schoolbell', rel='stylesheet')

    script(type='text/javascript', src='../scripts/hp-fullscreen.js')    
    script(type='text/javascript', src='http://www.youtube.com/player_api')    
  
  body
    #coast2coast--centered
      include ../include/join-us.jade