doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='../css/normalize.css')
    link(rel='stylesheet', type='text/css', href='../css/styles.css')
    meta(charset='UTF-8')
    link(rel='stylesheet', href='../css/responsive.css')
    link(rel='icon', type='image/png', href='../img/logo-bee_small.png', sizes='16x16')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Patrick+Hand', rel='stylesheet')

    link(href='../img/logo_180x180.png', rel='apple-touch-icon')
    link(href='../img/logo_180x180.png', rel='apple-touch-icon', sizes='76x76')
    link(href='../img/logo_180x180.png', rel='apple-touch-icon', sizes='120x120')
    link(href='../img/logo_180x180.png', rel='apple-touch-icon', sizes='152x152')
    link(href='../img/logo_180x180.png', rel='apple-touch-icon', sizes='180x180')
    link(href='../img/logo_192x192.png', rel='icon', sizes='192x192')
    link(href='../img/logo_180x180.png', rel='icon', sizes='128x128')
  
    block title
    include ../include/google-analytics.jade  
  body
    #site-wrapper
      #upper-site
        //- .menu.menu-homepage
        //-   p
        //-     a(href='../index.html') About
        //-   p
        //-     a(href='../index.html') Contact
        .header-container
          .logo-header
            a(href='../index.html')
              img(src='../img/logo-header.png', alt='logo-header', style='width:183px;height:121px;')
          .form-header-container
            h1 Coming Soon!
            p.form-title We'll let you know when we're up and running
            
            .form-container
              // Begin MailChimp Signup Form
              #mc_embed_signup.homepage-form 
                form#mc-embedded-subscribe-form.validate(action='//thecatbears.us14.list-manage.com/subscribe/post?u=a7426f90aa46ed0d3d13700af&id=759f0584e8', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                  #mc_embed_signup_scroll.horizontal-form
                    .mc-field-group
                      label(for='mce-EMAIL') Email Address 
                      input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder='Email')
                    #mce-responses.clear
                      #mce-error-response.response(style='display:none')
                      #mce-success-response.response(style='display:none')
                    // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                    div(style='position: absolute; left: -5000px;', aria-hidden='true')
                      input(type='text', name='b_a7426f90aa46ed0d3d13700af_759f0584e8', tabindex='-1', value='')
                    .clear
                      input#mc-embedded-subscribe.btn(type='submit', value='Notify Me', name='subscribe')
              // End mc_embed_signup
      #lower-site
        block box7
        block box6
        block box5
        block box-spacer
        block box-spacer
  
    include ../include/footer.jade 
