doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='../css/normalize.css')
    link(rel='stylesheet', type='text/css', href='../css/styles.css')
    link(rel='stylesheet', href='../css/responsive.css')
    link(rel='stylesheet', href='../css/promo-share.css')
    link(rel='icon', type='image/png', href='../img/logo-bee_small.png', sizes='16x16')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Patrick+Hand', rel='stylesheet')

    link(href='../img/logo_180x180.png', rel='apple-touch-icon')
    link(href='../img/logo_180x180.png', rel='apple-touch-icon', sizes='76x76')
    link(href='../img/logo_180x180.png', rel='apple-touch-icon', sizes='120x120')
    link(href='../img/logo_180x180.png', rel='apple-touch-icon', sizes='152x152')
    link(href='../img/logo_180x180.png', rel='apple-touch-icon', sizes='180x180')
    link(href='../img/logo_192x192.png', rel='icon', sizes='192x192')
    link(href='../img/logo_180x180.png', rel='icon', sizes='128x128')
  


    block title
    include ../include/google-analytics.jade  
  body
    #site-wrapper
      #upper-site
        .menu.menu-homepage
          p
            a(href='../index.html') About
          p
            a(href='../index.html') Contact
        .header-container
          .logo-header
            a(href='../index.html')
              img(src='../img/logo-header.png', alt='logo-header', style='width:183px;height:121px;')
          .form-header-container
            p.form-title Subscribe for monthly updates
            
            .form-container
              include ../include/mailchimp-form.jade 
              
      #lower-site
        block box7
        block box6
        block box3
        block box5
        block box4
        block box2
        block box1
        block box-spacer
        block box-spacer
  
    include ../include/footer.jade 
