doctype html
html
  head
    include ../include/page-head-data.jade
    link(rel='stylesheet', type='text/css', href='../css/hp-fullscreen.css')
    link(rel='stylesheet', type='text/css', href='../css/poster.css')
    link(rel='stylesheet', type='text/css', href='../css/grid.css')  
    link(rel='stylesheet', type='text/css', href='../css/mailchimp-form.css')
    link(rel='stylesheet', type='text/css', href='../css/join-us.css')
    link(href='https://fonts.googleapis.com/css?family=Schoolbell', rel='stylesheet')    
    link(href='https://fonts.googleapis.com/css?family=Shrikhand', rel='stylesheet')

    //- script(type='text/javascript', src='../scripts/hp-fullscreen.js')    
    script(type='text/javascript', src='http://www.youtube.com/player_api')    

    block title

  body
    include ../include/navigation.jade
    #site-wrapper
      #upper-site
        block poster-fullscreen
 
      .grid-layot
        //- block grid-title
        block make-a-fox
        block maker-kit  
        block greeting-card
        block catbears-stickers
        block coloring-pages
        block learn-to-draw
        //- block finger-puppets
        //- block coloring-book-duck
        //- block duck-boat
        //- block ranni
        //- block riddle-games
        //- block iMessage-stickers
        block box-spacer
        block box-spacer
    #coast2coast--centered
      include ../include/join-us.jade
  
    include ../include/footer.jade 
    include ../include/page-bottom-scripts.jade
