doctype html
html
  head
    include ../include/page-head-data.jade
    link(rel='stylesheet', type='text/css', href='../css/hp-fullscreen.css')
    link(rel='stylesheet', type='text/css', href='../css/poster.css')
    link(rel='stylesheet', type='text/css', href='../css/grid.css')  
    link(rel='stylesheet', type='text/css', href='../css/mailchimp-form.css')
    link(rel='stylesheet', type='text/css', href='../css/promo-share.css')
    link(href='https://fonts.googleapis.com/css?family=Schoolbell', rel='stylesheet')

    script(type='text/javascript', src='../scripts/hp-fullscreen.js')    
    script(type='text/javascript', src='http://www.youtube.com/player_api')    

    block title

  body
    #site-wrapper
      #upper-site
        include ../include/sticky-nav.jade
        block poster-fullscreen
 
      .grid-layot
        block grid-title
        block greeting-card
        block maker-kit  
        //- block duck-boat
        block finger-puppets
        block felt-catbears
        //- block ranni
        block catbears-stickers
        block coloring-pages
        block coloring-book-duck
        block learn-to-draw
        //- block riddle-games
        block iMessage-stickers
        block box-spacer
        block box-spacer
    #coast2coast--centered
      include ../include/promo-share.jade
  
    include ../include/footer.jade 
    include ../include/page-bottom-scripts.jade
