doctype html
html
  head
    include ../include/page-head-data.jade
    link(rel='stylesheet', type='text/css', href='../css/hp.css')
    link(rel='stylesheet', type='text/css', href='../css/mailchimp-form.css')
    link(rel='stylesheet', type='text/css', href='../css/promo-share.css')
    block title

  body
    #site-wrapper
      #upper-site
        //- .menu.menu-homepage
        //-   p
        //-     a(href='../index.html') About
        //-   p
        //-     a(href='../index.html') Contact
        .header-container
          .logo-header
            a.logo(href='../')
              img(src='../img/logo-header.png', alt='logo-header', style='width:152px;height:100px;')
          h1 Printable Activities 


      #lower-site
        block coloring-pages
        block coloring-book-duck
        block learn-to-draw
        block riddle-games
        block catbears-stickers
        block iMessage-stickers
        block box-spacer
        block box-spacer
      #coast2coast--centered
        include ../include/promo-share.jade
  
    include ../include/footer.jade 
    include ../include/page-bottom-scripts.jade
