doctype html
html
  head   
    include ../include/page-head-data.jade
    link(rel='stylesheet', type='text/css', href='../css/item-page__img.css')
    link(rel='stylesheet', type='text/css', href='../css/mailchimp-form.css')
    link(rel='stylesheet', type='text/css', href='../css/promo-share.css')

    // GALLERY STUFF  
    link(rel='stylesheet', type='text/css', href='../css/gallery-tamplate.css')
    script(type='text/javascript', src='lib/jquery/dist/jquery.js')
    script(type='text/javascript', src='lib/hammerjs/hammer.js')
    script(type='text/javascript', src='../scripts/gallery-controller.js')
    
    block title
        title The Catbears

  body
    //- include ../include/lightbox_free-download.jade
    include ../include/lightbox_subscribe.jade
    #site-wrapper
        #lower-site
          include ../include/nav__inner-page_only-logo.jade
          // MAIN ITEM 
          .main-item 
              .main-item__gallery
                .gallery-container
                  block gallery-img
                  ul#gallery
                    block gallery-items
                  #gallery-controller(onmouseover='autoSlidePause()', onmouseout='autoSlideRestart()' ) 
                    .gallery__button.gallery__button--left
                    .gallery__button.gallery__button--right
                #gallery-counter
              .main-item__content
                h1.item--title 
                  block main-item__title
                .main-item__description   
                    p.description--text
                      block main-item__description--p  

                .main-item__cta
                    block main-item__cta           
                    .main-item__cta--micro-text
                        block main-item__cta--micro-text
                    
                block main-item__info
          // END -- MAIN ITEM
          block page-description
          block instructions
          .share-banner
             block share-banner__text
               | Share your creations with the Catbears community on Instagram:  
             block share-banner__cta
               a.marker__blue(href="https://www.instagram.com/explore/tags/drawcatbears/" target="_blank") #DrawCatbears 
        #coast2coast--centered
          include ../include/promo-share.jade
           
    include ../include/footer.jade
    include ../include/page-bottom-scripts.jade