doctype html
html
  head
    include ../include/page-head-data.jade
    link(rel='stylesheet', type='text/css', href='../css/item-page__img.css')
    link(rel='stylesheet', type='text/css', href='../css/hero.css')
    link(rel='stylesheet', type='text/css', href='../css/mailchimp-form.css')
    link(rel='stylesheet', type='text/css', href='../css/promo-share.css')

    block title
        title Def The Catbears

  body
    include ../include/lightbox_subscribe.jade
    #site-wrapper
      #site-layot
        include ../include/nav__inner-page_only-logo.jade
        // HERO 
        .hero 
            .hero__gallery
              block gallery-img
            .hero__content
                h1.item--title 
                  block hero__title
                .hero__description   
                    p.description--text
                      block hero__description--p  

                .hero__cta
                    block hero__cta           
                    .hero__cta--micro-text
                        block hero__cta--micro-text
                    
                block hero__info
        // END -- HERO
        block page-description
        block instructions
        .share-banner
             block share-banner__text
               | Tag your works on Instagram with   
             block share-banner__cta
               a.marker__blue(href="https://www.instagram.com/explore/tags/drawcatbears/" target="_blank") #DrawCatbears 
      #coast2coast--centered
        include ../include/promo-share.jade
    include ../include/footer.jade  
    include ../include/page-bottom-scripts.jade
