doctype html
html
  head
    include ../include/page-head-data.jade
    link(rel='stylesheet', type='text/css', href='../css/item-page.css')
    link(rel='stylesheet', type='text/css', href='../css/mailchimp-form.css')
    link(rel='stylesheet', type='text/css', href='../css/join-us.css')

    // GALLERY STUFF  
    //- link(rel='stylesheet', type='text/css', href='../css/gallery-tamplate.css')
    script(type='text/javascript', src='lib/jquery/dist/jquery.js')
    script(type='text/javascript', src='lib/hammerjs/hammer.js')
    script(type='text/javascript', src='../scripts/gallery-print-pages_controller.js')
    //- script(type='text/javascript', src='../scripts/main-img-fix.js')



    block title
        title Def The Catbears

  body
    include ../include/lightbox_subscribe.jade
    include ../include/navigation.jade
    #site-wrapper
      .site-layot
        //- include ../include/nav__inner-page_only-logo.jade
        // page-item 
        .page-item(onmouseover='autoSlidePause()', onmouseout='autoSlideRestart()')
            include ../include/pinterestBtn.jade
            .page-item__main-img
               block main-img
            .page-item__content
                h1.item--title 
                  block page-item__title
                .page-item__description   
                    p.description--text
                      block page-item__description--p  

                .page-item__cta
                    block page-item__cta  

                  .gallery-container
                    .gallery-wrapper
                      ul#gallery
                        block gallery-items
                    #gallery-controller 
                      .gallery__button.gallery__button--left
                      .gallery__button.gallery__button--right
                      .page-fade_right  
                  //- #gallery-counter         
                    //- .page-item__cta--micro-text
                        block page-item__cta--micro-text
                    
                block page-item__info
        // END -- page-item
        block page-description
        block instructions
        .share-banner
             block share-banner__text
               | Tag your works on Instagram with   
             block share-banner__cta
               a.marker__blue(href="https://www.instagram.com/explore/tags/drawcatbears/" target="_blank") #DrawCatbears 
      #coast2coast--centered
        include ../include/join-us.jade
    include ../include/footer.jade  
    include ../include/page-bottom-scripts.jade
