doctype html
html
  head
    include ../include/page-head-data.jade
    link(rel='stylesheet', type='text/css', href='../css/item-page__img.css')
    link(rel='stylesheet', type='text/css', href='../css/mailchimp-form.css')
    link(rel='stylesheet', type='text/css', href='../css/promo-share.css')
    block title
        title Def The Catbears

  body
    include ../include/lightbox_subscribe.jade
    #site-wrapper
      #lower-site
        include ../include/nav__inner-page_only-logo.jade
        // MAIN ITEM 
        .main-item 
            .main-item__gallery
              block gallery-img
            .main-item__content
              h1.item--title 
                block main-item__title
              //- .main-item__content--title-info-line
                .price.price--pdf
                  .price__icon
                  .price__content
                    
                    h2.price__content--free
                      block main-item__price-number

                    .price__content--pdf-size
                      block main-item__file-size 
                      
                .badges-container
                  block main-item__badges
              .main-item__description   
                  p.description--text
                    block main-item__description--p  

                  ul.description--text
                    block main-item__description--ul

              .main-item__cta
                  block main-item__cta           
              
        // END -- MAIN ITEM

      #coast2coast--centered
        include ../include/promo-share.jade
    include ../include/footer.jade  
    include ../include/page-bottom-scripts.jade
