doctype html
html
  head
    include ../include/page-head-data.jade
    link(rel='stylesheet', type='text/css', href='../css/item-page.css')
    link(rel='stylesheet', type='text/css', href='../css/mailchimp-form.css')
    link(rel='stylesheet', type='text/css', href='../css/promo-share.css')
    block title
        title Def The Catbears

  body
    include ../include/lightbox_subscribe.jade
    #site-wrapper
        .site-layot
          include ../include/nav__inner-page_only-logo.jade
          // page-item 
          .page-item 
              .page-item__gallery
                block gallery-img
              .page-item__content
                h1.item--title 
                  block page-item__title
                .page-item__content--title-info-line
                  .price.price--pdf
                    .price__icon
                    .price__content
                      
                      h2.price__content--free
                        block page-item__price-number

                      .price__content--pdf-size
                        block page-item__file-size 
                        
                  .badges-container
                    block page-item__badges
                .page-item__description   
                    p.description--text
                      block page-item__description--p  

                    ul.description--text
                      block page-item__description--ul

                .page-item__cta
                    block page-item__cta           
                
          // END -- page-item

        #coast2coast--centered
          include ../include/promo-share.jade
           
    include ../include/footer.jade  
    include ../include/page-bottom-scripts.jade