doctype html
html
  head
    include ../include/page-head-data.jade
    link(rel='stylesheet', type='text/css', href='../css/item-page__img.css')
    link(rel='stylesheet', type='text/css', href='../css/hero.css')
    link(rel='stylesheet', type='text/css', href='../css/mailchimp-form.css')
    link(rel='stylesheet', type='text/css', href='../css/promo-share.css')
    block title
        title Def The Catbears

  body
    include ../include/lightbox_subscribe.jade
    #site-wrapper
        #site-layot
          include ../include/nav__inner-page_only-logo.jade
          // HERO 
          .hero 
              .hero__gallery
                block gallery-img
              .hero__content
                h1.item--title 
                  block hero__title
                .hero__content--title-info-line
                  .price.price--pdf
                    .price__icon
                    .price__content
                      
                      h2.price__content--free
                        block hero__price-number

                      .price__content--pdf-size
                        block hero__file-size 
                        
                  .badges-container
                    block hero__badges
                .hero__description   
                    p.description--text
                      block hero__description--p  

                    ul.description--text
                      block hero__description--ul

                .hero__cta
                    block hero__cta           
                
          // END -- HERO

        #coast2coast--centered
          include ../include/promo-share.jade
           
    include ../include/footer.jade  
    include ../include/page-bottom-scripts.jade