doctype html
html
  head
    include ../include/page-head-data.jade
    link(rel='stylesheet', type='text/css', href='../css/item-page.css')
    link(rel='stylesheet', type='text/css', href='../css/mailchimp-form.css')
    link(rel='stylesheet', type='text/css', href='../css/promo-share.css')

    block title
        title Def The Catbears

  body
    include ../include/lightbox_subscribe.jade
    #site-wrapper
      .site-layot
        include ../include/nav__inner-page_only-logo.jade
        // page-item 
        .page-item 
            .page-item__gallery
              block gallery-img
            .page-item__content
                h1.item--title 
                  block page-item__title
                .page-item__description   
                    p.description--text
                      block page-item__description--p  

                .page-item__cta
                    block page-item__cta           
                    .page-item__cta--micro-text
                        block page-item__cta--micro-text
                    
                block page-item__info
        // END -- page-item
        block page-description
        block instructions
        .share-banner
             block share-banner__text
               | Tag your works on Instagram with   
             block share-banner__cta
               a.marker__blue(href="https://www.instagram.com/explore/tags/drawcatbears/" target="_blank") #DrawCatbears 
      #coast2coast--centered
        include ../include/promo-share.jade
    include ../include/footer.jade  
    include ../include/page-bottom-scripts.jade
