doctype html
head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    link(rel='stylesheet', type='/text/css', href='../css/normalize.css')
    link(rel='stylesheet', type='text/css', href='../css/styles.css')    
    link(rel='stylesheet', type='text/css', href='../css/item-page__static-img.css')
    link(rel='stylesheet', href='../css/mailchimp-form.css')
    link(rel='stylesheet', href='../css/promo-share.css')
    link(rel='icon', type='image/png', href='img/logo-bee_small.png', sizes='16x16')
    link(<link href='https://fonts.googleapis.com/css?family=Amatic+SC' , rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Patrick+Hand', rel='stylesheet')

    link(rel='stylesheet', type='text/css', href='../css/gallery-tamplate.css')
    script(type='text/javascript', src='lib/jquery/dist/jquery.js')
    script(type='text/javascript', src='lib/hammerjs/hammer.js')
    script(type='text/javascript', src='../scripts/gallery-controller.js')


    block title
        title Def The Catbears
    include ../include/google-analytics.jade

  body
    #site-wrapper
        #lower-site
          include ../include/nav__inner-page_only-logo.jade
          // MAIN ITEM 
          .main-item 
              .main-item__gallery
                .gallery-container
                  ul#gallery
                    block gallery-items
                  #gallery-controller(onmouseover='pauseAutoSlide()', onmouseout='playAutoSlide()' ) 
                    .gallery__button.gallery__button--left
                    .gallery__button.gallery__button--right
                #gallery-counter
              .main-item__content
                h1.item--title 
                  block main-item__title
                .main-item__content--title-info-line
                  .price.price--pdf
                    .price__icon
                    .price__content
                      
                      h2.price__content--free
                        block main-item__price-number

                      .price__content--pdf-size
                        block main-item__file-size 
                        
                  .badges-container
                    block main-item__badges
                .main-item__description   
                    p.description--text
                      block main-item__description--p  

                    ul.description--text
                      block main-item__description--ul

                .main-item__cta
                    block main-item__cta           
                
          // END -- MAIN ITEM

        #coast2coast--centered
          include ../include/promo-share.jade
           
    include ../include/footer.jade  
