//- lesson_template.jade
    
doctype html
html
  block variables
  head
    include ../include/page-head-data.jade
    link(rel='stylesheet', type='text/css', href='../css/styles.css')
    link(rel='stylesheet', type='text/css', href='../css/lesson_template.css')
    link(rel='stylesheet', type='text/css', href='../css/icons.css')
    link(rel='stylesheet', type='text/css', href='../css/projectThumbs.css')

    //- script(type='text/javascript', src='../lib/jquery/dist/jquery.js')
    script(type='text/javascript', src='../scripts/showMore.js')
    //- script(type='text/javascript', src='../scripts/html5-video__controller.js')
    script(type='text/javascript', src='../scripts/lesson.js')

    block title
  body
    .meat 
        include ../include/catbearsNav.jade
        .pageContainer.fadeIn
            .pageNav 
                .pageNav__icon.noMarkup
                    block pageNav__icon
                .pageNavContainer
                    .pageNav__left
                        h1.pageNav__left--title 
                            block pageNav__title
                    .pageNav__right
                        block pageNav__buttons
                            a.btn.btn__small.btn__secondary.pageNav__right--item.pageNav__right--feedback(href="mailto:catbearsteam@gmail.com?subject=Feedback!&body=Hey Catbears, Here are a few thoughts on your course", target='_top') 📣 Feedback
                            a.btn.btn__small.btn__secondary.pageNav__right--item.pageNav__right--share(href='mailto:?subject=The Catbears website&body=Hey, I just saw this really fun website called "The Catbears" with online courses for kids: www.catbears.com', target='_top') 👌 Share
            .lessonContainer
                .lessonMain
                    .lessonVideo.lesson__item.lesson__item--padding
                        .videoContainer
                            .videoPlayer(onclick='togglePlayPause()')
                                block stepsTitlesContainer
                                .videoWatermark.comic.noMarkup The Catbears
                                block video
                            .videoSteps
                                .stepsLine
                                .stepsDotsContainer--js
                                //- block stepsDotsContainer    
                            .videoInfoContainer
                                .videoInfoBubble
                                    .lesson__item 
                                        h2#step__title.fadeIn
                                            block videoInfo--title 
                                                | Introduction
                                        p#step__description.showMore__Btn--js
                                            block videoInfo--text
                                                | This is a really easy step, just watch the video and follow the instructions.
                                //- .showMoreBtn.btn.btn__secondary.btn__small.show-more Show More
                    .moreProjects.lesson__item.lesson__item--padding
                        h2 More Craft Projects
                        .moreProjectsContainer
                            .moreProjects__item
                                block moreProject1
                            .moreProjects__item
                                block moreProject2
                            .moreProjects__item
                                block moreProject3
                    .footer 
                        include ../include/footer.jade
                .lessonPanel 
                    .activityPage.lesson__item.lesson__item 
                        h2.activityPage__title Activity Page
                        .activityPage__pager.noMarkup.cursorHand
                            block activityPage
                        .activityPage__button.btn.btn__primary.btn__small ✨ Print
                    .difficulty.lesson__item.lesson__item 
                        h2.difficulty__title Difficulty
                        .difficulty__iconsContainer
                           block diffifulty 
                                //- .difficulty__icon.noMarkup
                                //- .difficulty__icon.noMarkup
                                //- .difficulty__icon.noMarkup    
                    .instructor.lesson__item.lesson__item
                        .instructor__header
                            .instructor__profilePicture.noMarkup
                                img(src="../img/instructors-profile-pics/maayan.png" , alt ="Maayan Malka")
                            .instructor__title    
                                h2.instructor__title--title Instructor
                                h3.instructor__title--name Maayan Malka
                        p.instructor__paragraph.panel__paragraph Ethical stumptown iceland iPhone, man bun umami chartreuse meditation intelligentsia helvetica flexitarian disrupt austin knausgaard.
                    .tools.lesson__item.lesson__item
                        h2.tools__title Tools
                        .tools__iconsContainer
                            block tools
                                .tools__icon.noMarkup
                                .tools__icon.noMarkup
                                .tools__icon.noMarkup
                                .tools__icon.noMarkup
                    .help.lesson__item.lesson__item 
                        h2.help__title Need help?
                        p.help__paragraph.panel__paragraph Got questions about this project? Send us a message and we'll get back to you in to time!
                        //- .help__button.btn.btn__secondary.btn__small 
                        a.help__button.btn.btn__secondary.btn__small(href="mailto:catbearsteam@gmail.com?subject=The Catbears, I could use some help&body=Hey Catbears, I could use your help with...", target='_top') 😮 Ask a question

                    


