//- projectThumb.jade

block projectThumb
    .projectThumb.projectThumb__craft
        block projectImg
            img(src="../img/projectThumbs/maker-kit.png", alt="Makers Kit")
        block projectTitle
            p.projectThumb__title.noMarkup Makers Kit 