// static-page.jade

doctype html
html
  head
    include ../include/page-head-data.jade
    link(rel='stylesheet', type='text/css', href='../css/styles.css')
    link(rel='stylesheet', type='text/css', href='../css/poster.css')
    link(rel='stylesheet', type='text/css', href='../css/static-page.css')
    link(rel='stylesheet', type='text/css', href='../css/promo-share.css')
    block head

    block title
        title The Catbears

  body
    #site-wrapper
      #upper-site
        block poster
      #site-layot
        block page-content
    block footer
      include ../include/footer.jade 
      include ../include/page-bottom-scripts.jade